<app-content [condition]="!mission">
  <div class="ui padded grid doubling">
    <div *ngIf="mission && isMissionExpired(mission)" class="row">
      <div class="column">
        <div class="ui icon message">
          <i class="info circle icon"></i>
          <div class="content">Cette mission a expirée.</div>
        </div>
      </div>
    </div>

    <div class="stretched row">
      <!-- Mission details -->
      <div class="sixteen wide mobile five wide computer column">
        <app-mission-details *ngIf="mission" [mission]="mission" page="show"></app-mission-details>
      </div>

      <!-- Actions -->
      <div class="sixteen wide mobile eleven wide computer column">
        <div class="ui blue segment">
            <div class="ui blue ribbon label">Actions</div>
            <div class="ui two column center aligned grid">
              <div class="ui vertical divider">Ou</div>
              <div class="middle aligned row">
                <div *ngIf="mission && !mission.isLocked; else isLocked" class="column">
                  <div class="ui small icon header">
                    <i class="unlock icon"></i>
                    Ouverte aux candidatures
                  </div><br>
                  <app-button hiddenIcon="lock" size="tiny" (click)="updateLock()" [isLoading]="lockLoading">
                    Fermer les candidatures
                  </app-button>
                </div>
                <ng-template #isLocked>
                  <div class="column">
                    <div class="ui small icon header">
                      <i class="lock icon"></i>
                      Fermée aux candidatures
                    </div><br>
                    <app-button *ngIf="mission && !isMissionExpired(mission); else expired" hiddenIcon="unlock" size="tiny" (click)="updateLock()" [isLoading]="lockLoading">
                      Ouvrir les candidatures
                    </app-button>
                    <ng-template #expired>
                      <app-button hiddenIcon="unlock" size="tiny" [isDisabled]="true"
                                  suiPopup popupPlacement="bottom" popupText="Impossible d'ouvrir les candidatures à une mission expirée">
                        Ouvrir les candidatures
                      </app-button>
                    </ng-template>
                  </div>
                </ng-template>

                <div class="column">
                  <div class="ui small icon header">
                    <i class="mail icon"></i>
                    E-mail pré-mission
                  </div><br>
                  <app-button *ngIf="mission && !isMissionExpired(mission); else isLockedEmail" size="tiny" hiddenIcon="mail" (click)="openModal()"
                              [isDisabled]="false" [isLoading]="false">
                    Éditer puis envoyer
                  </app-button>

                  <ng-template #isLockedEmail>
                    <app-button size="tiny" hiddenIcon="mail" (click)="openModal()" [isDisabled]="true"
                                suiPopup popupPlacement="bottom" popupText="Impossible d'envoyer l'email pour une mission expirée">
                      Éditer puis envoyer
                    </app-button>
                  </ng-template>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabset -->
  <div *ngIf="mission" class="ui padded grid">
    <div class="column">
      <sui-tabset>
        <div class="ui top pointing secondary menu">
          <a class="item" suiTabHeader="1">
            <i class="handshake icon"></i> Candidatures
            <span class="ui tiny blue label">{{ applications.length }}</span>
          </a>
          <a class="item" suiTabHeader="2" [isDisabled]="mission.project.step != 'hiring'">
            <span *ngIf="mission.project.step != 'hiring'; else noInscriptionPopup"
                  suiPopup popupText="Le projet doit être 'Ouvert'" popupPlacement="top" popupInverted>
              <i class="users icon"></i> Étudiants
            </span>
            <ng-template #noInscriptionPopup>
              <i class="users icon"></i> Étudiants
            </ng-template>
          </a>
          <a class="item" suiTabHeader="3" [isDisabled]="mission.project.step == 'hiring'"
             [isActive]="hoursTabActive">
            <span *ngIf="mission.project.step == 'hiring'; else noHoursPopup"
                  suiPopup popupText="Le projet ne doit pas être 'Ouvert'" popupPlacement="top" popupInverted>
              <i class="clock icon"></i> Heures
            </span>
            <ng-template #noHoursPopup>
              <i class="clock icon"></i> Heures
            </ng-template>
          </a>
        </div>

        <div class="ui" suiTabContent="1">
          <app-mission-applications [mission]="mission"></app-mission-applications>
        </div>

        <div class="ui" suiTabContent="2">
          <app-user-list *ngIf="mission.project.step == 'hiring'" page="mission-show" [mission]="mission"></app-user-list>
        </div>

        <div class="ui" suiTabContent="3">
          <app-mission-bills *ngIf="applications && mission.project.step != 'hiring'" [mission]="mission" [applications]="applications"></app-mission-bills>
        </div>
      </sui-tabset>
    </div>
  </div>
</app-content>
