<app-content [condition]="!mission">
  <div class="ui padded grid doubling">
    <div *ngIf="mission && isMissionExpired(mission)" class="row">
      <div class="column">
        <div class="ui icon message">
          <i class="info circle icon"></i>
          <div class="content">Cette mission a expirée.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Mission details -->
      <div class="sixteen wide mobile five wide computer column">
        <app-mission-details *ngIf="mission" [mission]="mission" page="show"></app-mission-details>
      </div>

      <!-- Actions -->
      <div class="sixteen wide mobile eleven wide computer column">
        <div class="ui segments">
          <div class="ui blue segment">
            <div class="ui blue ribbon label">Actions</div>
            <div class="ui two column center aligned grid">
              <div class="middle aligned row">
                <div *ngIf="mission && !mission.isLocked; else isLocked" class="column">
                  <div class="ui small icon header">
                    <i class="unlock icon"></i>
                    Ouverte aux candidatures
                  </div><br>
                  <app-button hiddenIcon="lock" size="tiny" (click)="updateLock()">
                    Fermer les candidatures
                  </app-button>
                </div>

                <ng-template #isLocked>
                  <div class="column">
                    <div class="ui small icon header">
                      <i class="lock icon"></i>
                      Fermée aux candidatures
                    </div><br>
                    <app-button hiddenIcon="unlock" size="tiny" (click)="updateLock()">
                      Ouvrir les candidatures
                    </app-button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="ui form segment">
            <div class="ui two column center aligned grid">
              <div class="ui vertical divider">Ou</div>
              <div class="middle aligned row">
                <div class="column">
                  <div class="ui small icon header">
                    <i class="users icon"></i>
                    Liste effectif
                  </div><br>
                  <app-button size="tiny" hiddenIcon="users"
                              [isDisabled]="false" [isLoading]="false">
                    Générer
                  </app-button>
                </div>
                <div class="padded column">
                  <div class="ui small icon header">
                    <i class="mail icon"></i>
                    E-mail pré-mission
                  </div><br>
                  <app-button size="tiny" hiddenIcon="mail"
                              [isDisabled]="false" [isLoading]="false">
                    Éditer puis envoyer
                  </app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabset -->
  <div *ngIf="mission" class="ui padded grid">
    <div class="column">
      <sui-tabset>
        <div class="ui top pointing secondary menu">
          <a class="item" suiTabHeader="1">
            <i class="handshake icon"></i> Candidatures
            <span class="ui tiny blue label">{{ applications.length }}</span>
          </a>
          <a class="item" suiTabHeader="2">
            <i class="clock icon"></i> Heures
          </a>
          <a class="item" suiTabHeader="3">
            <i class="users icon"></i> Étudiants
          </a>
        </div>

        <div class="ui" suiTabContent="1">
          <app-mission-applications *ngIf="mission" [mission]="mission"></app-mission-applications>
        </div>

        <div class="ui" suiTabContent="2">
          <!--TODO-->
        </div>

        <div class="ui" suiTabContent="3">
          <app-user-list *ngIf="mission" page="mission-show" [mission]="mission"></app-user-list>
        </div>
      </sui-tabset>
    </div>
  </div>
</app-content>
