<app-menu [sidebar]="sidebar"></app-menu>
<sui-sidebar-container class="ui attached" track-scroll>
  <sui-sidebar transition="overlay" class="vertical" #sidebar>
    <div *ngIf="(isLoggedIn$ | async); else guest">
      <div class="header item">
        <img class="ui tiny centered image" src="assets/logos/numeris-blue.png">
      </div>
      <app-accordion [sidebar]="sidebar"></app-accordion>
    </div>

    <ng-template #guest>
      <div (click)="sidebar.close()">
        <a class="header item" (click)="scrollToElement(0)">
          <img class="ui tiny centered image" src="assets/logos/numeris-blue.png">
        </a>
        <a class="item" (click)="scrollToElement(1)">À propos</a>
        <a class="item" (click)="scrollToElement(2)">L'équipe</a>
        <a class="item" (click)="scrollToElement(3)">Podium</a>
        <a class="item" (click)="scrollToElement(4)">Nous contacter</a>
      </div>
    </ng-template>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true" class="no-border">
    <!-- Content goes here -->

    <alert *ngIf="isLoggedIn$ | async"></alert>
    <router-outlet></router-outlet>

  </sui-sidebar-sibling>
</sui-sidebar-container>
