<div class="ui container">
  <div class="ui basic vertical stripe center aligned segment">
    <h1>Podium ({{ currentMonth }} {{ currentYear }})</h1>
  </div>

  <div class="ui raised segments">
    <!-- First -->
    <div class="ui blue center aligned segment">
      <div class="ui header">Eliott de Séguier</div>
      <div class="ui huge statistic">
        <div class="value">
          <i class="blue rocket icon"></i> 135
        </div>
        <div class="label">
          heures
        </div>
      </div>
    </div>

    <div class="ui horizontal segments">
      <!-- Second -->
      <div class="ui center aligned segment">
        <div class="ui header">John Doe</div>
        <div class="ui big statistic">
          <div class="value">
            <i class="blue fighter jet icon"></i> 81
          </div>
          <div class="label">
            heures
          </div>
        </div>
      </div>

      <!-- Third -->
      <div class="ui center aligned segment">
        <div class="ui header">Kelly Slater</div>
        <div class="ui big statistic">
          <div class="value">
            <i class="blue plane icon"></i> 42
          </div>
          <div class="label">
            heures
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
