<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Section 1</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Section 2</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Section 3</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned segment">
  <button class="ui positive button" (click)="success('This is a success message', 'Success!!')">Success</button>
  <button class="ui teal button" (click)="info('This is an info message', 'Some info....')">Info</button>
  <button class="ui orange button" (click)="warning('This is a warning message', 'Warning: ...')">Warning</button>
  <button class="ui negative button" (click)="error('This is an error message', 'Error :(')">Error</button>
  <button class="ui button" (click)="clear()">Clear</button>
</div>
