<app-content [condition]="!(paginatedUser && promotions && roles)">
  <!-- Users -->
  <div *ngIf="paginatedUser; else empty" class="ui segments">
    <!-- Selection -->
    <div class="ui horizontal segments form grid">
      <div class="ui segment column">
        <div class="field">
          <label>Rechercher</label>
          <div class="ui left icon action search input">
            <i class="search icon"></i>
            <input class="prompt" type="text" placeholder="Rechercher ..."
                   [value]="search" [formControl]="searchControl">
            <button class="ui icon button" (click)="reset('search')">
              <i class="x icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="ui segment computer tablet only column">
        <div class="two fields">
          <div class="field">
            <label>Rôle</label>
            <div class="ui action input">
              <sui-select class="fluid selection" labelField="nameFr" valueField="name"
                          placeholder="Sélectionner une option"
                          [options]="roles" [(ngModel)]="selectedRole"
                          (ngModelChange)="setFilter()"
                          #selectRole>
                <sui-select-option *ngFor="let option of selectRole.filteredOptions"
                                   [value]="option"></sui-select-option>
              </sui-select>
              <button class="ui icon button" (click)="reset('selectedRole')">
                <i class="x icon"></i>
              </button>
            </div>
          </div>
          <div class="field">
            <label>Promotion</label>
            <div class="ui action input">
              <sui-select class="fluid selection" label="promotion"
                          placeholder="Sélectionner une option"
                          [options]="promotions" [(ngModel)]="selectedPromotion"
                          (ngModelChange)="setFilter()"
                          #selectPromotion>
                <sui-select-option *ngFor="let option of selectPromotion.filteredOptions"
                                   [value]="option"></sui-select-option>
              </sui-select>
              <button class="ui icon button" (click)="reset('selectedPromotion')">
                <i class="x icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="ui segment overflowing" [ngClass]="{'loading': loading}">
      <table class="ui celled striped selectable table">
        <thead>
        <tr>
          <th class="collapsing"><i class="address book outline icon"></i> Nom</th>
          <th class="collapsing"><i class="mail alternate icon"></i> E-mail</th>
          <th class="collapsing"><i class="phone icon"></i> Téléphone</th>
          <th class="collapsing"><i class="users icon"></i> Promotion</th>
          <th class="collapsing"><i class="unlock alternate icon"></i> Rôle</th>
          <th class="collapsing"><i class="hand pointer outline icon"></i> Action{{ project ? 's' : '' }}</th>
        </tr>
        </thead>

        <tbody *ngIf="paginatedUser.data.length > 0; else noUser">
        <tr *ngFor="let user of paginatedUser.data" [ngClass]="{'negative': ! user.activated}"
            suiPopup popupText="À valider" popupPlacement="left" popupTrigger="manual" popupInverted #popup="suiPopup"
            (mouseenter)="togglePopup(popup, !user.activated)" (mouseleave)="togglePopup(popup, !user.activated)">
          <td>
            <i *ngIf="user.nationality" class="{{ user.nationality | countryCode }} flag"></i>
            <a routerLink="/utilisateurs/{{ user.id }}">
              {{ user.firstName || '-' }} {{ user.lastName | uppercase }}
            </a>
          </td>
          <td>
            <a *ngIf="user.email; else noEmail" href="mailto:{{ user.email }}">
              {{ user.email }}
            </a>
            <ng-template #noEmail>-</ng-template>
          </td>
          <td>
            <a *ngIf="user.phone; else noPhone" href="tel:{{ user.phone }}">
              {{ user.phone | phone }}
            </a>
            <ng-template #noPhone>-</ng-template>
          </td>
          <td>{{ user.promotion || '-' }}</td>
          <td>{{ user.roles[0] | role }}</td>
          <td class="center aligned collapsing">
            <app-link-button routerLink="/utilisateurs/{{user.id}}"
                             behaviour="compact"
                             size="tiny" color="basic"
                             hiddenIcon="zoom-in">
              Voir
            </app-link-button>
            <app-button *ngIf="page == 'mission-show'" behaviour="compact"
                             size="tiny" color="basic positive"
                             hiddenIcon="handshake" (click)="enrolUser(user)">
              Inscrire
            </app-button>
            <app-button *ngIf="project && page == 'project-user-modal'" behaviour="compact"
                             size="tiny" color="basic positive"
                             hiddenIcon="handshake" (click)="enrolProjectUser(user)">
              Inscrire
            </app-button>
            <app-button *ngIf="project && page == 'project-show'" behaviour="compact"
                             size="tiny" color="basic negative"
                             hiddenIcon="trash alternate" (click)="removeProjectUser(user)">
              Retirer
            </app-button>
          </td>
        </tr>
        </tbody>
        <ng-template #noUser>
          <tfoot class="full-width">
          <tr>
            <th colspan="8">
              <app-empty>
                Aucun utilisateur à afficher avec le filtre sélectionné.
              </app-empty>
            </th>
          </tr>
          </tfoot>
        </ng-template>
      </table>

      <app-pagination-caption [paginatedObject]="paginatedUser"></app-pagination-caption>
    </div>

    <!-- Pagination -->
    <div class="ui center aligned segment">
      <sui-pagination [collectionSize]="paginatedUser.meta.total"
                      [pageSize]="paginatedUser.meta.per_page" [maxSize]="4"
                      [(page)]="paginatedUser.meta.current_page"
                      [hasNavigationLinks]="true" [hasBoundaryLinks]="true"
                      [hasEllipses]="false" [canRotate]="true"
                      (pageChange)="getPaginatedUsers($event)">
      </sui-pagination>
    </div>
  </div>

  <ng-template #empty>
    <app-empty>Aucun utilisateur.</app-empty>
  </ng-template>
</app-content>
