<app-content [condition]="!projects">
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui blue ribbon label">
        <i class="building icon"></i> Nouveau projet
      </div>
    </div>

    <form class="ui form segment"
          [formGroup]="missionForm" (ngSubmit)="onSubmit()"
          [ngClass]="{'error': submitted && missionForm.invalid, 'loading': loading}">
      <h4 class="ui dividing header">Informations</h4>
      <div class="required field" [ngClass]="{ 'error': submitted && f.title.errors }">
        <label>Titre</label>
        <div class="ui left icon corner labeled input">
          <i class="address book outline icon"></i>
          <input type="text" formControlName="title" placeholder="Titre">
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <app-form-error *ngIf="submitted && f.title.errors" [errors]="f.title.errors"></app-form-error>
      </div>
      <div class="required field" [ngClass]="{ 'error': submitted && f.description.errors }">
        <label>Description</label>
        <div class="ui corner labeled input">
          <textarea type="text" formControlName="description" placeholder="Description"></textarea>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <app-form-error *ngIf="submitted && f.description.errors" [errors]="f.description.errors"></app-form-error>
      </div>
      <div class="two required fields">
        <div class="field" [ngClass]="{ 'error': submitted && f.project_id.errors }">
          <label>Projet</label>
          <div class="ui input">
            <sui-select class="selection fluid" labelField="name" valueField="id"
                        placeholder="Sélectionner une option" formControlName="project_id"
                        [options]="projects" [isDisabled]="!!project || !!mission"
                        [isSearchable]="true"
                        #projectSelect>
              <sui-select-option *ngFor="let option of projectSelect.filteredOptions" [value]="option"></sui-select-option>
            </sui-select>
          </div>
          <app-form-error *ngIf="submitted && f.project_id.errors" [errors]="f.project_id.errors"></app-form-error>
        </div>
        <div class="field" [ngClass]="{ 'error': submitted && f.start_at.errors }">
          <label>Date de début</label>
          <div class="ui left icon corner labeled input">
            <i class="calendar outline icon"></i>
            <input suiDatepicker pickerMode="datetime"
                   placeholder="Date de début" formControlName="start_at"
                   [pickerUseNativeOnMobile]="true">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && f.start_at.errors" [errors]="f.start_at.errors"></app-form-error>
        </div>
      </div>
      <div class="two required fields">
        <div class="field" [ngClass]="{ 'error': submitted && f.duration.errors }">
          <label>Durée (en heures)</label>
          <div class="ui left icon corner labeled input">
            <i class="clock outline icon"></i>
            <input type="number" name="test" min="0" step="0.5"
                   placeholder="Durée" formControlName="duration">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && f.duration.errors" [errors]="f.duration.errors"></app-form-error>
        </div>
        <div class="field" [ngClass]="{ 'error': submitted && f.capacity.errors }">
          <label>Capacité</label>
          <div class="ui left icon corner labeled input">
            <i class="users icon"></i>
            <input type="number" name="test" min="0" step="1"
                   placeholder="Capacité" formControlName="capacity">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && f.capacity.errors" [errors]="f.capacity.errors"></app-form-error>
        </div>
      </div>

      <h4 class="ui dividing header">Adresse</h4>
      <div class="three required fields" formGroupName="address">
        <div class="eight wide field" [ngClass]="{ 'error': submitted && fa('street').errors }">
          <label>Rue</label>
          <div class="ui corner labeled input">
            <input type="text" formControlName="street" placeholder="Rue">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && fa('street').errors" [errors]="fa('street').errors"></app-form-error>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && fa('zip_code').errors }">
          <label>Code postal</label>
          <div class="ui corner labeled input">
            <input type="text" formControlName="zip_code" placeholder="Code postal">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && fa('zip_code').errors" [errors]="fa('zip_code').errors"></app-form-error>
        </div>
        <div class="four wide field" [ngClass]="{ 'error': submitted && fa('city').errors }">
          <label>Ville</label>
          <div class="ui corner labeled input">
            <input type="text" formControlName="city" placeholder="Ville">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && fa('city').errors" [errors]="fa('city').errors"></app-form-error>
        </div>
      </div>

      <div class="field">
        <div *ngIf="!mission; else edit" class="ui buttons">
          <a *ngIf="!project; else projectMission" class="ui animated fade button" routerLink="/missions">
            <div class="visible content">Annuler</div>
            <div class="hidden content">
              <i class="cancel icon"></i>
            </div>
          </a>
          <ng-template #projectMission>
            <a class="ui animated fade button" routerLink="/projets/{{project.id}}">
              <div class="visible content">Annuler</div>
              <div class="hidden content">
                <i class="cancel icon"></i>
              </div>
            </a>
          </ng-template>
          <div class="or" data-text="ou"></div>
          <button class="ui animated fade positive button"
                  [ngClass]="{'loading': loading, 'disabled': missionForm.invalid}">
            <div class="visible content">Ajouter</div>
            <div class="hidden content">
              <i class="plus icon"></i>
            </div>
          </button>
        </div>

        <ng-template #edit>
          <div class="ui buttons">
            <a class="ui animated fade button" routerLink="/missions/{{ mission.id }}">
              <div class="visible content">Annuler</div>
              <div class="hidden content">
                <i class="cancel icon"></i>
              </div>
            </a>
            <div class="or" data-text="ou"></div>
            <button class="ui animated fade orange button"
                    [ngClass]="{'loading': loading, 'disabled': missionForm.invalid}">
              <div class="visible content">Modifier</div>
              <div class="hidden content">
                <i class="plus icon"></i>
              </div>
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</app-content>
