<app-content [condition]="false">
  <div class="ui padded grid">
    <div class="row">
      <div class="column">
        <div class="ui blue segment">
          <div class="ui blue ribbon label">Actions</div>
          <div class="ui two column center aligned grid">
            <div class="ui vertical divider">Ou</div>
            <div class="middle aligned row">
              <div class="column">
                <div class="ui small icon header">
                  <i class="search icon"></i>
                  Rechercher un tutoriel
                </div>
                <div class="ui search form">
                  <div class="ui icon input field">
                    <input class="prompt" type="text" placeholder="Rechercher ...">
                    <i class="search icon"></i>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui small icon header">
                  <i class="youtube red icon"></i>
                  Accéder à la chaine YouTube de Numéris
                </div><br>
                <app-link-button hiddenIcon="external" size="small">
                  Youtube
                </app-link-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui padded grid doubling">
    <div class="sixteen wide mobile eight wide computer column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">
            Montalivet surf
          </div>
        </div>

        <div class="image">
          <div class="ui embed" data-source="youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0yFa5_GQ7mI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="center aligned extra content">
          <img class="mini ui image" src="assets/logos/numeris-blue.png">
        </div>
      </div>
    </div>

    <div class="sixteen wide mobile eight wide computer column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">
            Road trips
          </div>
        </div>

        <div class="image">
          <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="/images/image-16by9.png">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GFdNT1W6wdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="center aligned extra content">
          <img class="mini ui image" src="assets/logos/numeris-blue.png">
        </div>
      </div>
    </div>

    <div class="sixteen wide mobile eight wide computer column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">
            Sandy journey on Fraser
          </div>
        </div>

        <div class="image">
          <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="/images/image-16by9.png">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OS23RvBx0W8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="center aligned extra content">
          <img class="mini ui image" src="assets/logos/numeris-blue.png">
        </div>
      </div>
    </div>
  </div>
</app-content>
