<div class="ui large inverted menu" [ngClass]="(isLoggedIn$ | async) ? 'attached' : 'fixed stackable'">
  <ng-container *ngIf="isLoggedIn$ | async; else guest">
    <a class="header item sidebar-trigger" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i> NUMERIS
    </a>

    <div class="right menu">
      <a class="header item" routerLink="/" (click)="sidebar.close()">
        Déconnexion
      </a>
    </div>
  </ng-container>

  <ng-template #guest>
    <div class="left menu">
      <a class="header item" routerLink="/" routerLinkActive="active">
        NUMERIS
      </a>
      <a class="item" href="">
        À propos
      </a>
      <a class="item" href="">
        L'équipe
      </a>
      <a class="item" href="">
        Podium
      </a>
      <a class="item" href="">
        Nous contacter
      </a>
    </div>

    <div class="right menu">
      <a class="header item" (click)="openModal()">
        Connexion
      </a>
    </div>
  </ng-template>
</div>
