<app-content [condition]="!mission">
  <div class="ui fluid {{color}} card" [ngClass]="{ 'disabled': mission.isLocked || isMissionExpired() }">
    <div class="content">
      <div class="ui ribbon label" [ngClass]="color">
        <i class="clock icon"></i>Durée : {{ mission.duration }}h
      </div>
      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png" alt="Logo de Numéris">
    </div>

    <div class="content">
      <div class="header">
        {{ mission.title }}
      </div>
      <div class="meta">
        <i class="building icon"></i> {{ mission.project.client.name }}
      </div>
      <div class="description">
        {{ mission.startAt | date: "\'Le\' dd/MM/yy à HH\'h\'mm" }}
      </div>
    </div>

    <div class="content">
      <div class="description">
        {{ mission.description }}
      </div>
    </div>

    <div class="extra content">
      <i class="map marker alternate icon"></i> {{ mission.address | address }}
    </div>

    <ng-container *ngIf="! (mission.isLocked || isMissionExpired())">
      <app-button *ngIf="! userApplication" hiddenIcon="handshake"
                  attachment="bottom attached" behaviour="fluid"
                  color="none" size="small" (click)="openModal(mission, userApplication)">
        Postuler
      </app-button>
      <app-button *ngIf="userApplication" hiddenIcon="frown"
                  attachment="bottom attached" behaviour="fluid"
                  color="none" size="small" (click)="openModal(mission, userApplication)">
        Retirer votre candidature
      </app-button>
    </ng-container>
  </div>
</app-content>
