<div class="ui large attached inverted menu" >
  <ng-container *ngIf="(isLoggedIn$ | async); else guest">
    <a class="header item sidebar-trigger" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i> NUMERIS
      <span class="ui mini empty red circular label"></span>
    </a>

    <div class="right menu">
      <a class="header item" (click)="logout()">
        Déconnexion
      </a>
    </div>
  </ng-container>

  <ng-template #guest>
    <a class="toc item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i>
    </a>
    <div class="left menu">
      <a routerLink="" class="header item" (click)="scrollToElement('top')">
        NUMERIS
      </a>
      <a class="item" (click)="scrollToElement('aboutUs')">
        À propos
      </a>
      <a class="item" (click)="scrollToElement('team')">
        L'équipe
      </a>
      <a class="item" (click)="scrollToElement('podium')">
        Podium
      </a>
      <a class="item" (click)="scrollToElement('contactUs')">
        Nous contacter
      </a>
    </div>

    <div class="right menu">
      <a class="header item" (click)="openModal(subscribeModal)">
        Inscription
      </a>
      <a class="header item" (click)="openModal(loginModal)">
        Connexion
      </a>
    </div>
  </ng-template>
</div>
