.git
.gitignore
.idea
.vscode
.DS_Store
docker-compose*.yml
.env

# Back
back/.DS_Store
back/vendor
back/public/storage
back/public/build

# MySQL
var

# Front
front/.DS_Store
front/node_modules/
front/dist/
