version: '3'
services:

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: numeris_phpmyadmin
    ports:
      - 3000:80
    links:
      - mysql:db
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    container_name: numeris_mysql
    environment:
      MYSQL_DATABASE: 'numeris_testing'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  back:
    image: numerisisep/back:dev
    container_name: numeris_back
    build:
      context: ./back
      dockerfile: Dockerfile
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: numeris_testing
      DB_USERNAME: root
      DB_PASSWORD:
    volumes:
      - ./back:/home/numeris
      - /home/numeris/vendor
    ports:
      - ${BACK_PORT:-8000}:8000
    links:
      - mysql
    depends_on:
      - mysql

  front:
    image: numerisisep/front:dev
    container_name: numeris_front
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - ./front/src:/home/numeris/src
      - /home/numeris/node_modules
    links:
      - back
    ports:
      - ${FRONT_PORT:-8080}:80
