version: "3.9"
services:

  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    restart: unless-stopped
    environment:
      CADDY_INGRESS_NETWORKS: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # docker rootless daemon socket https://docs.docker.com/engine/security/rootless/
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    networks:
      - caddy
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:80"]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: numeris_phpmyadmin
    restart: unless-stopped
    ports:
      - 3000:80
    links:
      - mysql:db
    depends_on:
      - mysql
    networks:
      - caddy
      - mysql
    labels:
      caddy: phpmyadmin.numeris-isep.fr
      caddy.reverse_proxy: "{{upstreams 80}}"

  mysql:
    image: mysql:5.7
    container_name: numeris_mysql
    restart: unless-stopped
    networks:
      - mysql
    ports:
      - 127.0.0.1:3306:3306
    env_file:
      - .env
    volumes:
    - ./var/mysql:/var/lib/mysql
    # - /var/run/mysqld:/var/run/mysqld

  back:
    image: numerisisep/numeris-back:prod
    container_name: numeris_back
    restart: unless-stopped
    networks:
      - caddy
      - mysql
    env_file:
      - .env
    volumes:
      - .env:/home/numeris/.env
    depends_on:
      - mysql
    labels:
      caddy: api.numeris-isep.fr
      caddy.reverse_proxy: "{{upstreams 80}}"

  front:
    image: numerisisep/numeris-front:prod
    container_name: numeris_front
    networks:
      - caddy
    labels:
      caddy: numeris-isep.fr
      caddy.reverse_proxy: "{{upstreams 80}}"


  back-staging:
    image: numerisisep/numeris-back:staging
    container_name: numeris_back_staging
    restart: unless-stopped
    networks:
      - caddy
      - mysql
    env_file:
      - .env.staging
    volumes:
      - .env.staging:/home/numeris/.env
    depends_on:
      - mysql
    labels:
      caddy: api.staging.numeris-isep.fr
      caddy.reverse_proxy: "{{upstreams 80}}"

  front-staging:
    image: numerisisep/numeris-front:staging
    container_name: numeris_front_staging
    networks:
      - caddy
    labels:
      caddy: staging.numeris-isep.fr
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  caddy:
    name: caddy
    # external: true
    attachable: true
  mysql:

volumes:
  caddy_data:
  mysql:
