<div class="ui padded grid">
  <div class="column">
    <div class="ui segments">
      <div class="ui very padded center aligned segment">
        <h1><i class="meh outline loading icon"></i> Oups ...</h1>
        <h2>La page demandée n'existe pas ou plus</h2>
        <img class="ui large centered image" src="assets/logos/numeris-blue.png" alt="Logo de Numéris">
      </div>
      <div class="ui padded center aligned segment">
        <app-button hiddenIcon="arrow left" size="medium"
                    (click)="goBack()">
          Retour à l'accueil
        </app-button>
      </div>
    </div>
  </div>
</div>
