<div class="header">
  Connexion
</div>

<div class="content">
  <form class="ui large form"
        [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        [ngClass]="{ 'error': submitted && loginForm.invalid }">
    <div class="required field"
         [ngClass]="{ 'error': submitted && f.email.errors }">
      <label>Adresse email</label>
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="email" formControlName="email" placeholder="Adresse email"/>
      </div>
      <div *ngIf="submitted && f.email.errors"
           class="ui error message">
        Veuillez saisir une adresse email.
      </div>
    </div>

    <div class="required field"
         [ngClass]="{ 'error': submitted && f.password.errors }">
      <label>Mot de passe</label>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" formControlName="password" placeholder="Mot de passe"/>
      </div>
      <div *ngIf="submitted && f.password.errors"
           class="ui error message">
        Veuillez saisir un mot de passe.
      </div>
    </div>

    <button class="ui fade animated fluid large primary button"
            tabindex="0" [disabled]="loading">
      <div class="visible content">Connexion</div>
      <div class="hidden content">
        <i class="sign in icon"></i>
      </div>
    </button>
  </form>
</div>
