<div class="header">
  Inscription
</div>

<div class="modal content">
  <form class="ui large form" autocomplete="off"
        [formGroup]="subscribeForm" (ngSubmit)="onSubmit()"
        [ngClass]="{'error': submitted && subscribeForm.invalid, 'loading': loading}">

    <h4 class="ui dividing header">Informations</h4>
    <app-user-form [submitted]="submitted" (formReady)="addUserForm($event)"></app-user-form>

    <h4 class="ui dividing header">Mot de passe</h4>
    <app-password-form [submitted]="submitted" (formReady)="addPasswordForm($event)"></app-password-form>

    <h4 class="ui dividing header">Adresse</h4>
    <app-address-form [submitted]="submitted" (formReady)="addAddressForm($event)"></app-address-form>

    <div class="field">
      <div class="ui large buttons">
        <a class="ui animated fade button" (click)="subscribeModal.deny(null)">
          <div class="visible content">Annuler</div>
          <div class="hidden content">
            <i class="cancel icon"></i>
          </div>
        </a>
        <div class="or" data-text="ou"></div>
        <button class="ui animated fade blue button"
                [ngClass]="{'loading': loading, 'disabled': subscribeForm.invalid}">
          <div class="visible content">Inscription</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
