<app-content [condition]="!(applications && mission)">
  <div class="ui segment">
    <sui-progress *ngIf="status.status == 'accepted'" class="top attached indicating" [showProgress]="false"
                  [value]="applications.length" [maximum]="mission.capacity">
    </sui-progress>

    <div class="ui ribbon label" [ngClass]="{'green': status.status == 'accepted', 'blue': status.status == 'waiting', 'red': status.status == 'refused' }">
      <i class="icon" [ngClass]="{'handshake': status.status == 'accepted', 'hand paper': status.status == 'waiting', 'thumbs down': status.status == 'refused' }"></i>
      Candidatures {{ status.translationPlural }}
      <div class="detail">{{ applications.length }}</div>
    </div>
    <app-button *ngIf="status.status == 'accepted'" size="mini" color="green"
                behaviour="right floated" hiddenIcon="save">
      Enregistrer
    </app-button>
    <table class="ui celled striped selectable table">
      <thead>
      <tr>
        <th><i class="user icon"></i> Nom</th>
        <ng-container *ngIf="status.status == 'accepted'">
          <th *ngFor="let rate of mission.project.convention.rates">
            {{ rate.name }}
          </th>
        </ng-container>
        <th class="collapsing"><i class="hand pointer outline icon"></i> Actions</th>
      </tr>
      </thead>

      <tbody *ngIf="applications.length > 0; else noApplication">
      <tr *ngFor="let application of applications">
        <td>{{ application.user.firstName }} {{ application.user.lastName | uppercase }}</td>
        <!-- TODO -->
        <ng-container *ngIf="status.status == 'accepted'">
          <td *ngFor="let rate of mission.project.convention.rates"
              class="center aligned">
            <div class="ui left icon mini input">
              <i class="clock icon"></i>
              <input type="number" name="test" min="0" step="0.5"
                     placeholder="h" value="0" [readOnly]="mission.project.step != 'hiring'">
            </div>
          </td>
        </ng-container>
        <td class="center aligned collapsing">
          <app-link-button routerLink="/utilisateurs/{{application.user.id}}"
                           behaviour="compact"
                           size="tiny" color="basic"
                           hiddenIcon="zoom-in">
            Voir
          </app-link-button>
          <ng-container *ngIf="mission.project.step == 'hiring'">
            <app-button *ngIf="application.status != 'accepted'" behaviour="compact"
                        size="tiny" color="basic positive" (click)="updateApplication('accepted', application)"
                        hiddenIcon="handshake">
              Inscrire
            </app-button>
            <app-button *ngIf="application.status == 'accepted'" behaviour="compact"
                        size="tiny" color="basic negative" (click)="updateApplication('waiting', application)"
                        hiddenIcon="trash alternate">
              Retirer
            </app-button>
            <app-button *ngIf="application.status == 'waiting'" behaviour="compact"
                        size="tiny" color="basic negative" (click)="updateApplication('refused', application)"
                        hiddenIcon="trash alternate">
              Refuser
            </app-button>
          </ng-container>
        </td>
      </tr>
      </tbody>
      <ng-template #noApplication>
        <tfoot class="full-width">
        <tr>
          <th colspan="20">
            <app-empty [icon]="false">
              Aucune candidature {{ status.translationPlural }}
            </app-empty>
          </th>
        </tr>
        </tfoot>
      </ng-template>
    </table>
  </div>
</app-content>
