<app-content [condition]="!(applications && mission)">
  <div class="ui segments">
    <div class="ui segment">
      <sui-progress *ngIf="status.status == 'accepted'" class="top attached indicating" [showProgress]="false"
                    [value]="applications.length" [maximum]="mission.capacity">
      </sui-progress>

      <div class="ui ribbon label" [ngClass]="{'green': status.status == 'accepted', 'blue': status.status == 'waiting', 'red': status.status == 'refused' }">
        <i class="icon" [ngClass]="{'handshake': status.status == 'accepted', 'hand paper': status.status == 'waiting', 'thumbs down': status.status == 'refused' }"></i>
        Candidatures {{ status.translationPlural }}
        <div class="detail">{{ applications.length }}</div>
      </div>
    </div>

      <div class="ui drop-zone segment">
        <div cdkDropList [id]="status.status" [cdkDropListData]="applications" (cdkDropListDropped)="drop($event)" class="ui selection list">
          <div *ngFor="let application of applications" class="item"
             cdkDrag [cdkDragData]="application" [cdkDragDisabled]="mission.project.step !== 'hiring'">
            <div class="placeholder" *cdkDragPlaceholder></div>
            <i class="middle aligned icon" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </i>
            <div class="content">
              <a class="header" routerLink="/utilisateurs/{{ application.user.id }}">
                {{ application.user.firstName }} {{ application.user.lastName | uppercase }}
              </a>
              <div class="description">
                <i *ngIf="application.user.nationality" class="{{ application.user.nationality | countryCode }} flag"></i>
              </div>
            </div>
          </div>

          <app-empty *ngIf="! (applications.length > 0)" [icon]="false">
            Aucune candidature {{ status.translation }}
          </app-empty>
        </div>
      </div>
    </div>

</app-content>
