<div class="ui four raised centered doubling cards">
  <div class="ui card" *ngFor="let teamMember of teamMembers">
    <div class="ui image" [ngClass]="{ 'move up reveal': teamMember.otherImage }">
      <img class="visible content" src="assets/images/{{ teamMember.defaultImage }}" alt="Membre de l'équipe">
      <img *ngIf="teamMember.otherImage" class="hidden content"
           src="assets/images/{{ teamMember.otherImage }}" alt="Membre de l'équipe">
    </div>
    <div class="content">
      <div class="header">{{ teamMember.firstName }} {{ teamMember.lastName }}</div>
      <div class="meta">{{ teamMember.position }}</div>
    </div>

    <a class="ui bottom attached fade animated facebook tiny button"
       href="mailto:{{teamMember.facebookPageName}}" target="_blank">
      <div class="visible content">
        Contacter
      </div>
      <div class="hidden content">
        <i class="external icon"></i>
      </div>
    </a>
  </div>
</div>
