<div class="ui four raised centered doubling cards">
  <div class="ui card" *ngFor="let teamMember of teamMembers">
    <div class="ui image">
      <img src="assets/images/{{ teamMember.defaultImage }}" alt="Membre de l'équipe">
    </div>
    <div class="content">
      <div class="header">{{ teamMember.firstName }} {{ teamMember.lastName }}</div>
      <div class="meta">{{ teamMember.position }}</div>
    </div>

    <a class="ui bottom attached fade animated facebook tiny button"
       href="http://m.me/{{ teamMember.facebookPageName}}" target="_blank">
      <div class="visible content">
        Contacter
      </div>
      <div class="hidden content">
        <i class="external icon"></i>
      </div>
    </a>
  </div>
</div>
