<div id="home">
  <img class="ui centered massive fluid image" src="assets/logos/numeris-blue.png">
</div>

<div id="about-us">
  <div class="ui container">
    <div class="ui four doubling cards">
      <div class="card">
        <div class="image">
          <img src="assets/images/default-image.png">
        </div>
        <div class="content">
          <div class="header">Premier point</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Numéris c'est cool
          </div>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="assets/images/default-image.png">
        </div>
        <div class="content">
          <div class="header">Deuxième point</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Numéris c'est sympa
          </div>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="assets/images/default-image.png">
        </div>
        <div class="content">
          <div class="header">Troisième point</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Numéris c'est ouf
          </div>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="assets/images/default-image.png">
        </div>
        <div class="content">
          <div class="header">Quatrième point</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Numéris c'est dingue
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="team">

</div>

<div id="leaderboard">

</div>

<div id="contact">

</div>

