<app-menu [sidebar]="sidebar"></app-menu>
<sui-sidebar-container class="ui attached segment">
  <sui-sidebar transition="slide along" class="inverted vertical" #sidebar>
    <a class="header item" routerLink="/">
      <img class="ui tiny centered image" src="assets/numeris-white.png">
    </a>

    <app-accordion></app-accordion>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <!-- Content goes here -->

    <alert></alert>
    <router-outlet></router-outlet>

    <!--<div class="ui four column grid">-->
      <!--<div class="column">1</div>-->
      <!--<div class="column">2</div>-->
      <!--<div class="column">3</div>-->
      <!--<div class="column">4</div>-->
    <!--</div>-->

  </sui-sidebar-sibling>
</sui-sidebar-container>
