<div class="ui main content raised segments">
  <div class="ui very padded center aligned segment">
    <h1>Oups ...</h1>
    <h2>La page demandée n'existe pas ou plus</h2>
    <img class="ui large centered image" src="assets/logos/numeris-blue.png">
  </div>
  <div class="ui padded center aligned segment">
    <button class="ui fade animated large primary button"
            tabindex="0" (click)="goBack()">
      <div class="visible content">Retour à la page précédente</div>
      <div class="hidden content">
        <i class="arrow left icon"></i>
      </div>
    </button>
  </div>
</div>
