.ui.grid>.row>.ui.segment.column,
.ui.grid>.ui.segment.column,
.ui.page.grid.segment {
  padding-top: 1rem;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .ui.grid>.row>.ui.segment.column,
  .ui.grid>.ui.segment.column,
  .ui.page.grid.segment {
    padding-bottom: 1rem;
  }
}

.ui.action.input .ui.selection.dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.search.input .prompt {
  max-width: 196px;
}

tr.hatched {
  background: repeating-linear-gradient(
    135deg,
    #FAFAFA,
    #FAFAFA 10px,
    #F1F1F1 10px,
    #F1F1F1 20px
  )
}

table.selectable tr.hatched:hover {
  background: repeating-linear-gradient(
    135deg,
    #F4F4F4,
    #F4F4F4 10px,
    #EAEAEA 10px,
    #EAEAEA 20px
  ) !important;
}
