.ui.grid>.row>.ui.segment.column,
.ui.grid>.ui.segment.column,
.ui.page.grid.segment {
  padding-top: 1rem;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .ui.grid>.row>.ui.segment.column,
  .ui.grid>.ui.segment.column,
  .ui.page.grid.segment {
    padding-bottom: 1rem;
  }
}

.ui.action.input .ui.selection.dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.search.input .prompt {
  max-width: 196px;
}
