<app-content [condition]="!user">
  <div *ngIf="user" class="ui padded grid doubling">
    <!-- Messages -->
    <div class="stretched row">
      <div class="sixteen wide mobile column">
        <app-profile-messages [user]="user"></app-profile-messages>
      </div>
    </div>

    <div class="stretched row">
      <!-- Profile summary -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-summary [user]="user"></app-profile-summary>
      </div>

      <!-- Preferences -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-preferences [preference]="user.preference"></app-profile-preferences>
      </div>

      <!-- Profile details -->
      <div class="sixteen wide mobile eight wide computer column">
        <app-profile-details [user]="user" [currentUserId]="user.id"></app-profile-details>
      </div>
    </div>

    <div class="row">
      <!-- Documents -->
      <div class="column">
        <app-profile-documents [payslips]="user.payslips"></app-profile-documents>
      </div>
    </div>
  </div>
</app-content>
