<app-content [condition]="! user">
  <div class="ui padded grid doubling">
    <!-- Messages -->
    <div class="sixteen wide column">
      <!-- Activate account -->
      <div class="ui icon info message" *ngIf="user">
        <i class="{{ user.activated ? 'check' : 'ban' }} icon"></i>
        <div class="content" *ngIf="! user.activated; else activated">
          <div class="header">
            Ce compte n'est pas activé
          </div>
          <div class="ui list">
            <div class="item">Vérifier que :</div>
            <ul>
              <li *ngIf="!user.touAccepted">
                les <a routerLink="/conditions-dutilisation">conditions d'utilisation</a> sont acceptées
              </li>
              <li *ngIf="!user.emailVerifiedAt">l'adresse email est vérifiée</li>
              <li>le profil est complété</li>
              <li>les informations fournies sont exactes</li>
            </ul>
          </div>
        </div>

        <ng-template #activated>
          <div class="content">
            <div class="header">
              Ce compte est activé
            </div>
          </div>
        </ng-template>

        <app-button size="small" [hiddenIcon]="user.activated ? 'ban' : 'check'" color="basic teal"
                    [isLoading]="loading" (click)="updateActivated()">
          {{ user.activated ? 'Désactiver' : 'Activer' }}
        </app-button>
      </div>
    </div>

    <div class="stretched row">
      <!-- Profile summary -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-summary *ngIf="user" [user]="user"></app-profile-summary>
      </div>

      <!-- Preferences -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-preferences *ngIf="user" [preference]="user.preference"></app-profile-preferences>
      </div>

      <!-- Profile details -->
      <div class="sixteen wide mobile eight wide computer column">
        <app-profile-details *ngIf="user" [user]="user" [currentUserId]="currentUserId"></app-profile-details>
      </div>
    </div>

    <div class="row">
      <!-- Documents -->
      <div class="column">
        <app-profile-documents *ngIf="user" [payslips]="user.payslips"></app-profile-documents>
      </div>
    </div>
  </div>
</app-content>
