<app-content [condition]="! user">
  <div class="ui padded grid doubling">
    <!-- Messages -->
    <div class="sixteen wide column">
      <!-- Deleted account -->
      <div class="ui icon message" *ngIf="user && user.deletedAt">
        <i class="times circle icon"></i>
        <div class="content">
          <div class="header">
            Compte supprimé
          </div>
          <div>
            Il est toujours possible de voir les informations de l'utilisateur dans les
            différentes sections du site mais les actions de modifications sont interdites.
          </div>
        </div>
      </div>

      <!-- Activate account -->
      <div class="ui icon info message" *ngIf="user && ! user.deletedAt">
        <i class="{{ user.activated ? 'check' : 'ban' }} icon"></i>
        <div class="content" *ngIf="! user.activated; else activated">
          <div class="header">
            Ce compte n'est pas activé
          </div>
          <div class="ui list">
            <div class="item">À noter :</div>
            <ul>
              <li *ngIf="!user.touAccepted">
                les <a routerLink="/conditions-dutilisation">conditions d'utilisation</a> ne pas sont acceptées
              </li>
              <li *ngIf="!user.emailVerifiedAt">l'adresse email n'est pas vérifiée</li>
              <li>le profil n'est pas complété</li>
              <li>vérifier que les informations fournies sont exactes</li>
            </ul>
          </div>
        </div>

        <ng-template #activated>
          <div class="content">
            <div class="header">
              Ce compte est activé
            </div>
          </div>
        </ng-template>

        <app-button size="small" [hiddenIcon]="user.activated ? 'ban' : 'check'" color="basic teal"
                    [isLoading]="loading" (click)="updateActivated()">
          {{ user.activated ? 'Désactiver' : 'Activer' }}
        </app-button>
      </div>
    </div>

    <div class="stretched row">
      <!-- Profile summary -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-summary *ngIf="user" [user]="user"></app-profile-summary>
      </div>

      <!-- Preferences -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <app-profile-preferences *ngIf="user" [user]="user"></app-profile-preferences>
      </div>

      <!-- Profile details -->
      <div class="sixteen wide mobile eight wide computer column">
        <app-profile-details *ngIf="user" [user]="user" [currentUserId]="currentUserId"></app-profile-details>
      </div>
    </div>

    <div class="row">
      <!-- Statistics -->
      <div class="column">
        <app-profile-statistics *ngIf="user" [payslips]="user.payslips"></app-profile-statistics>
      </div>
    </div>

    <div class="row">
      <!-- Documents -->
      <div class="column">
        <app-profile-documents *ngIf="user" [payslips]="user.payslips"></app-profile-documents>
      </div>
    </div>
  </div>
</app-content>
