APP_NAME=Laravel
APP_ENV=testing
APP_KEY=base64:6Aaa1TKd/dIscl3NVs/DNysHj1pnEe6Wn+/GqIVMpvw=

DB_CONNECTION=testing
DB_HOST_TESTING=mysql
DB_PORT_TESTING=3306
DB_DATABASE_TESTING=homestead_testing
DB_USERNAME_TESTING=homestead_testing
DB_PASSWORD_TESTING=secret

MAIL_FROM_ADDRESS=test@test.fr

GOOGLE_RECAPTCHA_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
GOOGLE_RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe