<app-content [condition]="!client">
  <div *ngIf="client.conventions.length > 0; else empty" class="ui segment">
    <div class="ui grid doubling">
      <sui-accordion [closeOthers]="true" class="sixteen wide column">
        <sui-accordion-panel *ngFor="let convention of client.conventions; let i = index" [isOpen]="i == 0">
          <h5 class="ui title" title>
            <i class="dropdown icon"></i>
            <i class="tag icon"></i> {{ convention.name }}
          </h5>
          <div content>
            <app-convention-details [client]="client" [convention]="convention"></app-convention-details>
          </div>
        </sui-accordion-panel>
      </sui-accordion>
    </div>
  </div>

  <!-- Empty -->
  <ng-template #empty>
    <app-empty>Aucune convention.</app-empty>
  </ng-template>
</app-content>
