<app-content [condition]="!conventions">
  <div *ngIf="conventions; else empty" class="ui segment">
    <div class="ui centered grid doubling">
      <div *ngFor="let convention of conventions" class="sixteen wide column">
        <h5 class="ui title">
          <i class="tag icon"></i> {{ convention.name }}
        </h5>

        <table class="ui celled striped selectable very compact definition table">
          <thead class="full-width center aligned">
          <tr class="collapsing">
            <th class="center aligned">
              <div class="ui mini buttons">
                <div class="ui animated fade orange button">
                  <div class="visible content">Modifier</div>
                  <div class="hidden content">
                    <i class="edit icon"></i>
                  </div>
                </div>
                <div class="or" data-text="ou"></div>
                <div class="ui animated fade negative button">
                  <div class="visible content">Supprimer</div>
                  <div class="hidden content">
                    <i class="trash alternate icon"></i>
                  </div>
                </div>
              </div>
            </th>
            <th>
              <i class="icons">
                <i class="user icon"></i>
                <i class="top right corner euro sign icon"></i>
              </i>
              Tarif étudiant
            </th>
            <th>
              <i class="icons">
                <i class="user md icon"></i>
                <i class="top right corner euro sign icon"></i>
              </i>
              Tarif staff
            </th>
            <th>
              <i class="icons">
                <i class="building icon"></i>
                <i class="top right corner euro sign icon"></i>
              </i>
              Tarif client
            </th>
            <th><i class="money bill alternate icon"></i> Forfait ?</th>
            <th><i class="clock outline icon"></i> Heures forfaits</th>
          </tr>
          </thead>

          <tbody class="center aligned" *ngIf="convention.rates.length != 0; else noRate">
          <tr *ngFor="let rate of convention.rates" [ngClass]="{'warning': rate.isFlat}">
            <td class="collapsing">{{ rate.name }}</td>
            <td>{{ rate.forStudent | currency:'€' }}</td>
            <td>{{ rate.forStaff | currency:'€' }}</td>
            <td>{{ rate.forClient | currency:'€' }}</td>
            <td>
              <sui-checkbox class="toggle" [isReadonly]="true" [ngModel]="rate.isFlat"></sui-checkbox>
            </td>
            <td>
            {{ (rate.hours | number) || '-' }}{{ rate.hours ? 'h' : '' }}
            </td>
          </tr>
          </tbody>
          <ng-template #noRate>
            <tfoot class="full-width">
            <tr>
              <th colspan="6">
                <app-empty>
                  Aucun tarif pour cette convention.
                  <a href="#">Ajouter un tarif</a> <!-- TODO -->
                </app-empty>
              </th>
            </tr>
            </tfoot>
          </ng-template>
        </table>
      </div>
    </div>
  </div>

  <!-- Empty -->
  <ng-template #empty>
    <app-empty>Aucune convention</app-empty>
  </ng-template>
</app-content>
