<div class="header">
  Connexion
</div>

<div class="content">
  <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="required field">
      <label>Adresse email</label>
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="email" formControlName="email" placeholder="Adresse email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Veuillez saisir un email</div>
        </div>
      </div>
    </div>

    <div class="required field">
      <label>Mot de passe</label>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" formControlName="password" placeholder="Mot de passe"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Veuillez saisir un mot de passe</div>
        </div>
      </div>
    </div>

    <button [disabled]="loading" class="ui fluid large teal submit primary button">Connexion</button>
  </form>
</div>
