<p><a [routerLink]="['/login']">Logout</a></p>

<div class="ui container">
  <p>
    id: {{ currentUser.id }}
  </p>

  <p>
    notification_id: {{ currentUser.notification_id }}
  </p>

  <p>
    adresse_id: {{ currentUser.address_id }}
  </p>

  <p>
    activated: {{ currentUser.activated }}
  </p>

  <p>
    tou_accepted: {{ currentUser.tou_accepted }}
  </p>

  <p>
    membership_fee_paid: {{ currentUser.membership_fee_paid }}
  </p>

  <p>
    email: {{ currentUser.email }}
  </p>

  <p>
    username: {{ currentUser.username }}
  </p>

  <p>
    firstname: {{ currentUser.first_name }}
  </p>

  <p>
    last_name: {{ currentUser.last_name | uppercase }}
  </p>

  <p>
    student_number: {{ currentUser.student_number }}
  </p>

  <p>
    promotion: {{ currentUser.promotion }}
  </p>

  <p>
    phone: {{ currentUser.phone }}
  </p>

  <p>
    nationality: {{ currentUser.nationality }}
  </p>

  <p>
    birth_date: {{ currentUser.birth_date | date }}
  </p>

  <p>
    birth_city: {{ currentUser.birth_city }}
  </p>

  <p>
    social_insurance_number: {{ currentUser.social_insurance_number }}
  </p>

  <p>
    iban: {{ currentUser.iban }}
  </p>

  <p>
    bic: {{ currentUser.bic }}
  </p>

  <p>
    created_at: {{ currentUser.created_at | date:'medium' }}
  </p>

  <p>
    updated_at: {{ currentUser.updated_at | date }}
  </p>

</div>
