<!-- Action -->
<div class="ui padded grid">
  <div class="column">
    <div class="ui blue segment">
      <div class="ui blue ribbon label">Action</div>
      <div class="ui two column center aligned grid">
        <div class="ui vertical divider">Ou</div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui small icon header">
              <i class="building outline icon"></i>
              Ajouter un client
            </div><br>
            <app-link-button hiddenIcon="plus" size="tiny"
                             routerLink="/clients/nouveau">
              Nouveau client
            </app-link-button>
          </div>
          <div class="column">
            <div class="ui small icon header">
              <i class="user md icon"></i>
              Ajouter un contact client
            </div><br>
            <app-link-button hiddenIcon="plus" size="tiny"
                             routerLink="/clients/contacts/nouveau">
              Nouveau contact
            </app-link-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="ui padded grid">
  <div class="column">
    <sui-tabset>
      <div class="ui top pointing secondary menu">
        <a class="item" suiTabHeader="1">
          <i class="folder open icon"></i> Clients
          <span class="ui tiny blue label">{{ clients?.length }}</span>
        </a>
        <a class="item" suiTabHeader="2" [(isActive)]="secondTabActive">
          <i class="user md icon"></i> Contacts
          <span class="ui tiny blue label">{{ contacts?.length }}</span>
        </a>
      </div>

      <div class="ui" suiTabContent="1">
        <app-client-list *ngIf="clients" [clients]="clients"></app-client-list>
      </div>

      <div class="ui" suiTabContent="2">
        <app-contact-list *ngIf="contacts" [contacts]="contacts"></app-contact-list>
      </div>
    </sui-tabset>
  </div>
</div>

