<div class="header">
  Connexion
</div>

<div class="content">
  <form class="ui large form"
        [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        [ngClass]="{ 'error': submitted && loginForm.invalid }">
    <app-form-error *ngIf="submitted && loginForm.errors" [errors]="loginForm.errors" type="main"></app-form-error>
    <div class="required field"
         [ngClass]="{ 'error': submitted && (f.email.errors) }">
      <label>Adresse email</label>
      <div class="ui left icon corner labeled input">
        <i class="user icon"></i>
        <input type="email" formControlName="email" placeholder="Adresse email"/>
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.email.errors" [errors]="f.email.errors"></app-form-error>
    </div>

    <div class="required field"
         [ngClass]="{ 'error': submitted && f.password.errors }">
      <label>Mot de passe</label>
      <div class="ui left icon corner labeled input">
        <i class="lock icon"></i>
        <input type="password" formControlName="password" placeholder="Mot de passe"/>
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.password.errors" [errors]="f.password.errors"></app-form-error>
    </div>

    <app-button hiddenIcon="sign in"
                behaviour="fluid" [isLoading]="loading">
      Connexion
    </app-button>
  </form>
</div>
