<app-content [condition]="!client">
  <a *ngIf="isLink; else isNotLink" class="ui fluid link card" routerLink="/clients/{{client.id}}">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>

  <ng-template #isNotLink>
    <div class="ui fluid card">
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
  </ng-template>

  <ng-template #content>
    <div class="content">
      <div class="ui blue ribbon label">
        <i class="building icon"></i> Client
      </div>
      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png" alt="Logo de Numéris">
    </div>

    <div class="content">
      <div class="header">
        {{ client.name }}
      </div>
      <div class="description center aligned marged">
        <div class="ui mini black statistic"
             suiPopup popupText="Conventions" [popupPlacement]="'bottom'">
          <div class="value">
            <i class="tags blue icon"></i> {{ client.conventionsCount }}
          </div>
        </div>
        <div class="ui mini black statistic"
             suiPopup popupText="Projets" [popupPlacement]="'bottom'">
          <div class="value">
            <i class="folder open blue icon"></i> {{ client.projectsCount }}
          </div>
        </div>
        <div class="ui mini black statistic"
             suiPopup popupText="Missions" [popupPlacement]="'bottom'">
          <div class="value">
            <i class="copy blue icon"></i> {{ client.missionsCount }}
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="description">
        <ng-container *ngIf="client.contact">
          <p *ngIf="client.contact.firstName && client.contact.lastName">
            <i class="user md icon"></i>
            {{ client.contact.firstName }} {{ client.contact.lastName | uppercase }}
          </p>
          <p *ngIf="client.contact.phone">
            <i class="phone icon"></i>
            <a href="tel:{{ client.contact.phone }}" target="_blank"> {{ client.contact.phone | phone }}</a>
          </p>
          <p *ngIf="client.contact.email">
            <i class="mail envelope icon"></i>
            <a href="mailto:{{ client.contact.email }}" target="_blank"> {{ client.contact.email }}</a>
          </p>
        </ng-container>
        <p>
          <i class="history icon"></i> Modifié le {{ client.updatedAt | date:"dd/MM/y" }}
        </p>
      </div>
    </div>

    <div class="extra content">
      <i class="map marker alternate icon"></i> {{ client.address | address }}
    </div>

    <div *ngIf="!isLink" class="ui small bottom attached buttons">
      <div class="ui animated fade orange button" routerLink="/clients/{{ client.id }}/modifier">
        <div class="visible content">Modifier</div>
        <div class="hidden content">
          <i class="edit icon"></i>
        </div>
      </div>
      <div class="or" data-text="ou"></div>
      <div class="ui animated fade negative button" (click)="openModal()">
        <div class="visible content">Supprimer</div>
        <div class="hidden content">
          <i class="trash alternate icon"></i>
        </div>
      </div>
    </div>
  </ng-template>
</app-content>
