<div class="header">
  Nous contacter
</div>

<div class="modal content">
  <form class="ui large form"
        [formGroup]="contactUsForm" (ngSubmit)="onSubmit()"
        [ngClass]="{ 'error': submitted && contactUsForm.invalid }">
    <div class="two fields">
      <div class="required field"
           [ngClass]="{ 'error': submitted && f.firstName.errors }">
        <label>Prénom</label>
        <input type="text" formControlName="firstName" placeholder="Prénom"/>
        <div *ngIf="submitted && f.firstName.errors"
             class="ui error message">
          Veuillez saisir un prénom.
        </div>
      </div>

      <div class="required field"
           [ngClass]="{ 'error': submitted && f.lastName.errors }">
        <label>Nom</label>
        <input type="text" formControlName="lastName" placeholder="Nom"/>
        <div *ngIf="submitted && f.lastName.errors"
             class="ui error message">
          Veuillez saisir un nom.
        </div>
      </div>
    </div>

    <div class="required field"
         [ngClass]="{ 'error': submitted && f.email.errors }">
      <label>Adresse email</label>
      <input type="email" formControlName="email" placeholder="Adresse email"/>
      <div *ngIf="submitted && f.email.errors"
           class="ui error message">
        Veuillez saisir une adresse email.
      </div>
    </div>

    <div class="required field"
         [ngClass]="{ 'error': submitted && f.subject.errors }">
      <label>Objet</label>
      <input type="text" formControlName="subject"
             class="form-control" placeholder="Objet"/>
      <div *ngIf="submitted && f.subject.errors"
           class="ui error message">
        Veuillez saisir l'objet du message.
      </div>
    </div>

    <div class="required field"
         [ngClass]="{ 'error': submitted && f.message.errors }">
      <label>Message</label>
      <textarea type="text" formControlName="message"
                class="form-control" placeholder="Message">
      </textarea>
      <div *ngIf="submitted && f.message.errors"
           class="ui error message">
        Veuillez saisir un message.
      </div>
    </div>

    <app-button visibleContent="Envoyer" hiddenIcon="envelope"
                [loading]="loading" behaviour="fluid">
    </app-button>
  </form>
</div>

