<sui-tabset>
  <div class="ui top pointing secondary menu">
    <a class="item" suiTabHeader="1">
      <i class="icons">
        <i class="clipboard icon"></i>
        <i class="top right corner pencil icon"></i>
      </i>
      Contrats
      <span *ngIf="payslips" class="ui mini blue label">{{ payslips.length }}</span>
    </a>
    <a class="item" suiTabHeader="2">
      <i class="icons">
        <i class="clipboard icon"></i>
        <i class="bottom right corner euro icon"></i>
      </i>
      Bulletins
      <span *ngIf="payslips" class="ui mini blue label">{{ payslips.length }}</span>
    </a>
  </div>

  <!-- Contracts -->
  <div class="ui" suiTabContent="1">
    <div *ngIf="payslips; else emptyContract" class="ui four column grid stackable">
      <app-file class="column" *ngFor="let payslip of payslips" type="contract" [data]="payslip"></app-file>
    </div>

    <ng-template #emptyContract>
      <app-empty>Aucun contrat de travail.</app-empty>
    </ng-template>
  </div>

  <!-- Payment slips -->
  <div class="ui" suiTabContent="2">
    <div *ngIf="payslips; else emptyPayslip" class="ui four column grid stackable">
      <app-file class="column" *ngFor="let payslip of payslips" type="payslip" [data]="payslip"></app-file>
    </div>

    <ng-template #emptyPayslip>
      <app-empty>Aucun bulletin de versement.</app-empty>
    </ng-template>
  </div>
</sui-tabset>
