<sui-tabset>
  <div class="ui top pointing secondary menu">
    <a class="item" suiTabHeader="1">
      <i class="icons">
        <i class="clipboard icon"></i>
        <i class="top right corner pencil icon"></i>
      </i>
      Contrats
      <span class="ui mini red label">2</span>
    </a>
    <a class="item" suiTabHeader="2">
      <i class="icons">
        <i class="clipboard icon"></i>
        <i class="bottom right corner euro icon"></i>
      </i>
      Bulletins
    </a>
  </div>

  <div class="ui segment" suiTabContent="1">
    <!-- Message -->
    <div class="ui icon error message">
      <i class="pencil icon"></i>
      <div class="content">
        <div class="header">
          2 contrats de travail à signer
        </div>
        <p>Les contrats de travail doivent être signés pour être payé.</p>
      </div>
    </div>

    <!-- Contracts -->
    <div class="ui grid doubling">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui red fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Janvier 2018
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              281,05 €
            </span>
            <span>
              <i class="clock outline icon"></i>16h
            </span>
          </div>
        </div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui green fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Juin 2018
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              64,31 €
            </span>
            <span>
              <i class="clock outline icon"></i>8h
            </span>
          </div>
        </div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui green fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Octobre 2018
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              38,00 €
            </span>
            <span>
              <i class="clock outline icon"></i>4h
            </span>
          </div>
        </div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui red fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Novembre et Décembre 2018
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              577,87 €
            </span>
            <span>
              <i class="clock outline icon"></i>102h
            </span>
          </div>
        </div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui green fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Janvier 2019
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              17 €
            </span>
            <span>
              <i class="clock outline icon"></i>2h
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment" suiTabContent="2">
    <!-- Payment slips -->
    <div class="ui grid doubling">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui fluid link card">
          <div class="content">
            <div class="description">
              <i class="folder open icon"></i> AS Janvier 2018
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              281,05 €
            </span>
            <span>
              <i class="clock outline icon"></i>16h
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</sui-tabset>
