<!-- Action -->
<div class="ui padded grid">
  <div class="column">
    <div class="ui blue segment">
      <div class="ui blue ribbon label">Action</div>
      <div class="ui two column center aligned grid">
        <div class="middle aligned row">
          <div class="column">
            <div class="ui icon header">
              <i class="file alternate outline icon"></i>
              Ajouter un projet
            </div><br>
            <app-link-button hiddenIcon="plus" size="small">
              Nouveau projet
            </app-link-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-content [condition]="!paginatedProject">
  <!-- Projects -->
  <div class="ui padded grid">
    <div class="column">
      <div *ngIf="paginatedProject; else empty" class="ui segments">
        <!-- Selection -->
        <div class="ui horizontal segments form grid">
          <div class="ui segment column">
            <div class="field">
              <label>Status</label>
              <div class="ui action input">
                <sui-select class="selection" label="step"
                            placeholder="Sélectionner une option"
                            [options]="options" [(ngModel)]="selectedStep"
                            (ngModelChange)="setFilter()"
                            #select>
                  <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option"></sui-select-option>
                </sui-select>
                <button class="ui icon button" (click)="reset('selectedStep')">
                  <i class="x icon"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="ui segment computer tablet only column">
            <div class="two fields">
              <div class="field">
                <label>De</label>
                <div class="ui left icon action input">
                  <i class="calendar outline icon"></i>
                  <input suiDatepicker pickerMode="month" placeholder="Début"
                         [(ngModel)]="from" [pickerMaxDate]="to"
                         [pickerUseNativeOnMobile]="true" (ngModelChange)="setFilter()">
                  <button class="ui icon button" (click)="reset('from')">
                    <i class="x icon"></i>
                  </button>
                </div>
              </div>
              <div class="field">
                <label>À</label>
                <div class="ui left icon action input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker pickerMode="month" placeholder="Fin"
                         [(ngModel)]="to" [pickerMinDate]="from"
                         [pickerUseNativeOnMobile]="true" (ngModelChange)="setFilter()">
                  <button class="ui icon button" (click)="reset('to')">
                    <i class="x icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Table -->
        <div class="ui segment" [ngClass]="{'loading': loading}">
          <table class="ui celled striped selectable table">
            <thead>
              <tr>
                <th><i class="calendar outline icon"></i> Date de début</th>
                <th><i class="address book outline icon"></i> Nom</th>
                <th><i class="clipboard list icon"></i> Status</th>
                <th><i class="building icon"></i> Client</th>
                <th><i class="copy icon"></i> Missions</th>
                <th><i class="user secret icon"></i> Visibilité</th>
                <th><i class="hand pointer outline icon"></i> Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let project of paginatedProject.data" [ngClass]="{'hatched': project.step == 'closed'}">
                <td>{{ project.startAt | date:'dd/MM/y' }}</td>
                <td>{{ project.name }}</td>
                <td [ngClass]="{'warning': project.step == 'hiring', 'positive': project.step == 'paid' }">
                  {{ project.step | status }}
                </td>
                <td>{{ project.client.name }}</td>
                <td class="center aligned">{{ project.missionsCount }}</td>
                <td class="center aligned" [ngClass]="{'warning': project.isPrivate}">
                  <i class="eye icon" [ngClass]="{'slash': project.isPrivate}"></i>
                </td>
                <td class="center aligned">
                  <app-link-button [routerLink]="project.id"
                                   size="tiny" color="basic"
                                   hiddenIcon="zoom-in">
                    Voir
                  </app-link-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <div class="ui center aligned segment">
          <sui-pagination [collectionSize]="paginatedProject.meta.total"
                          [pageSize]="paginatedProject.meta.per_page" [maxSize]="4"
                          [(page)]="paginatedProject.meta.current_page"
                          [hasNavigationLinks]="true" [hasBoundaryLinks]="true"
                          [hasEllipses]="false" [canRotate]="true"
                          (pageChange)="getProjectsPerPage($event)">
          </sui-pagination>
        </div>
      </div>

      <ng-template #empty>
        <app-empty>Aucun projet</app-empty>
      </ng-template>
    </div>
  </div>
</app-content>
