<sui-tabset>
  <div class="ui top attached pointing menu">
    <a class="item" suiTabHeader="1">
      Général
      <span class="ui mini orange label">1</span>
    </a>
    <a class="item" suiTabHeader="2">
      Scolarité
    </a>
    <a class="item" suiTabHeader="3">
      Banque
    </a>
  </div>

  <!-- General -->
  <div class="ui attached segment" suiTabContent="1">
    <!-- Information -->
    <table class="ui striped definition table">
      <tbody>
      <tr>
        <td class="collapsing">
          <i class="calendar alternate icon"></i>
          Date de naissance
        </td>
        <td>29/06/1995</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="building icon"></i>
          Ville de naissance
        </td>
        <td>Paris</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="globe icon"></i>
          Nationalité
        </td>
        <td><i class="france flag"></i>Française</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="heartbeat icon"></i>
          Numéro de sécurité sociale
        </td>
        <td>1964228961892</td>
      </tr>
      </tbody>
    </table>
    <div class="ui divider"></div>

    <!-- Documents -->
    <div class="ui three centered doubling cards">
      <div class="ui orange card">
        <div class="content">
          <i class="id card icon"></i>
          Carte d'identité
          <div class="floating ui mini orange circular label"></div>
        </div>
        <div class="extra content">
          <div class="ui orange fluid mini icon button">
            <i class="add icon"></i>
          </div>
        </div>
      </div>
      <div class="ui green card">
        <div class="content">
          <i class="file icon"></i>
          Certificat de scolarité
        </div>
        <div class="extra content">
          <div class="ui two mini buttons">
            <div class="ui icon button">
              <i class="eye icon"></i>
            </div>
            <div class="or" data-text="ou"></div>
            <div class="ui positive icon button">
              <i class="add icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui green card">
        <div class="content">
          <i class="heartbeat icon"></i>
          Sécurité sociale
        </div>
        <div class="extra content">
          <div class="ui two mini buttons">
            <div class="ui icon button">
              <i class="eye icon"></i>
            </div>
            <div class="or" data-text="ou"></div>
            <div class="ui positive icon button">
              <i class="add icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Schooling -->
  <div class="ui attached segment" suiTabContent="2">
    <!-- Information -->
    <table class="ui striped definition table">
      <tbody>
      <tr>
        <td class="collapsing">
          <i class="id badge icon"></i>
          Numéro étudiant
        </td>
        <td>8740</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="users icon"></i>
          Promotion
        </td>
        <td>2019</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="graduation cap icon"></i>
          Classe
        </td>
        <td>A3</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Banking -->
  <div class="ui attached segment" suiTabContent="3">
    <!-- Banking information -->
    <table class="ui striped definition table">
      <tbody>
      <tr>
        <td class="collapsing">
          <i class="euro sign icon"></i>
          IBAN
        </td>
        <td>SINTINCIDUNT</td>
      </tr>
      <tr>
        <td class="collapsing">
          <i class="money bill icon"></i>
          BIC
        </td>
        <td>KYKMFTH8N2J</td>
      </tr>
      </tbody>
    </table>
    <div class="ui divider"></div>

    <!-- RIB document -->
    <div class="ui centered green card">
      <div class="content">
        <i class="credit card icon"></i>
        RIB
      </div>
      <div class="extra content">
        <div class="ui two mini buttons">
          <div class="ui icon button">
            <i class="eye icon"></i>
          </div>
          <div class="or" data-text="ou"></div>
          <div class="ui positive icon button">
            <i class="add icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui two small buttons">
      <div class="ui animated fade orange button">
        <div class="visible content">Modifier</div>
        <div class="hidden content">
          <i class="edit icon"></i>
        </div>
      </div>
      <div class="or" data-text="ou"></div>
      <div class="ui animated fade negative button">
        <div class="visible content">Supprimer</div>
        <div class="hidden content">
          <i class="trash alternate icon"></i>
        </div>
      </div>
    </div>
  </div>
</sui-tabset>
