<div class="ui attached segment">
  <div class="ui blue ribbon label">
    <i class="clipboard list icon"></i>
    Informations
  </div>
  <table class="ui striped definition table">
    <tbody>
    <tr>
      <td class="collapsing">
        <i class="users icon"></i>
        Promotion
      </td>
      <td>{{ user.promotion }}</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="calendar alternate icon"></i>
        Date de naissance
      </td>
      <td>{{ user.birthDate | date:"dd/MM/yyyy" }}</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="building icon"></i>
        Ville de naissance
      </td>
      <td>{{ (user.birthCity | titlecase) || '-' }}</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="globe icon"></i>
        Nationalité
      </td>
      <td>
        <i *ngIf="user.nationality" class="{{ user.nationality | countryCode }} flag"></i>
        {{ (user.nationality | titlecase) || '-' }}
      </td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="heartbeat icon"></i>
        Numéro de sécurité sociale
      </td>
      <td>{{ (user.socialInsuranceNumber | socialInsuranceNumber) || '-' }}</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="euro sign icon"></i>
        IBAN
      </td>
      <td>{{ (user.iban | iban) || '-' }}</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="money bill icon"></i>
        BIC
      </td>
      <td>{{ (user.bic | uppercase) || '-' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="ui small bottom attached buttons" *ngIf="user.id === currentUserId; else userShow">
  <div class="ui animated fade orange button" routerLink="/profil/modifier">
    <div class="visible content">Modifier</div>
    <div class="hidden content">
      <i class="edit icon"></i>
    </div>
  </div>
  <div class="or" data-text="ou"></div>
  <div class="ui animated fade negative button">
    <div class="visible content">Supprimer</div>
    <div class="hidden content">
      <i class="trash alternate icon"></i>
    </div>
  </div>
</div>

<ng-template #userShow>
  <div class="ui small bottom attached buttons">
    <div class="ui animated fade orange button" routerLink="/utilisateurs/{{ user.id }}/modifier">
      <div class="visible content">Modifier</div>
      <div class="hidden content">
        <i class="edit icon"></i>
      </div>
    </div>
    <div class="or" data-text="ou"></div>
    <div class="ui animated fade negative button">
      <div class="visible content">Supprimer</div>
      <div class="hidden content">
        <i class="trash alternate icon"></i>
      </div>
    </div>
  </div>
</ng-template>
