<app-content [condition]="!missions">
  <div class="ui padded grid">
    <div class="sixteen wide column">
      <sui-accordion *ngIf="counter > 0; else empty"
                     [closeOthers]="true">
        <ng-container *ngFor="let missionGroup of sortedMissionGroups; let i = index">
          <div *ngIf="missionGroup.missions.length > 0" class="ui basic blue segment">
            <sui-accordion-panel [isOpen]="i == 0">
              <div class="ui two column grid" title>
                <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                  <h3 class="ui basic segment">
                    <i class="dropdown icon"></i>
                    {{ missionGroup.name }}
                  </h3>
                </div>
                <div class="tablet only computer only column">
                  <h3 class="ui right aligned basic segment">
                    {{ missionGroup.range[0] | date: "dd/MM/yyyy" }}
                    <i *ngIf="missionGroup.range[0] != undefined"
                       class="right angle icon divider"></i>
                    {{ missionGroup.range[1] | date: "dd/MM/yyyy" }}
                  </h3>
                </div>
              </div>

              <div content>
                <div class="ui three column padded centered grid stackable">
                  <div *ngFor="let mission of missionGroup.missions" class="column">
                    <app-mission-details [mission]="mission"></app-mission-details>
                  </div>
                </div>
              </div>
            </sui-accordion-panel>
            <span class="ui floating blue label">{{ missionGroup.missions.length }}</span>
          </div>
        </ng-container>
      </sui-accordion>

      <!-- Empty -->
      <ng-template #empty>
        <app-empty>Aucune mission n'est disponible pour le moment.</app-empty>
      </ng-template>
    </div>
  </div>
</app-content>
