<div class="ui card">
  <div class="content">
    <h2 class="ui teal header">
      Hey! Who are you?
    </h2>
  </div>
  <form class="ui large form" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="content">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="email" placeholder="E-mail address" [(ngModel)]="form.email" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="key icon"></i>
          <input type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
        </div>
      </div>
    </div>
    <div class="content">
      <button class="ui large fluid teal submit button" type="submit">
        <i class="sign in icon"></i> Log in
      </button>
    </div>
  </form>
</div>
