<div class="ui segments">
  <div class="ui segment">
    <div class="ui blue ribbon label">
      <i class="{{ resetting ? 'unlock' : 'lock' }} icon"></i>
      {{ resetting ? 'Réinitialiser le mot de passe' : 'Mot de passe oublié' }}
    </div>
  </div>

  <form class="ui form segment"
        [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"
        [ngClass]="{'error': submitted && resetPasswordForm.invalid}">
    <div class="required field"
         [ngClass]="{ 'error': submitted && (f.email.errors) }">
      <label>Adresse email</label>
      <div class="ui left icon corner labeled input">
        <i class="user icon"></i>
        <input type="email" formControlName="email" placeholder="Adresse email"/>
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.email.errors" [errors]="f.email.errors"></app-form-error>
    </div>

    <app-password-form *ngIf="resetting" [submitted]="submitted" [required]="false" (formReady)="addPasswordForm($event)"></app-password-form>

    <div class="field">
      <button class="ui animated fade blue button"
              [ngClass]="{'loading': loading, 'disabled': resetPasswordForm.invalid}">
        <div class="visible content">
          {{ resetting ? 'Réinitialiser le mot de passe' : 'Envoyer le lien de réinitialisation' }}
        </div>
        <div class="hidden content">
          <i class="envelope icon"></i>
        </div>
      </button>
    </div>
  </form>
</div>
