<!-- Action -->
<div class="ui padded grid">
  <div class="column">
    <div class="ui blue segment">
      <div class="ui blue ribbon label">Action</div>
      <div class="ui two column center aligned grid">
        <div class="middle aligned row">
          <div class="column">
            <div class="ui small icon header">
              <i class="file alternate outline icon"></i>
              Ajouter un projet
            </div><br>
            <app-link-button hiddenIcon="plus" size="tiny"
                             routerLink="/projets/nouveau">
              Nouveau projet
            </app-link-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project list -->
<div class="ui padded grid">
  <div class="column">
    <app-project-list></app-project-list>
  </div>
</div>
