<div class="ui inverted attached menu">
  <div *ngIf="!isLoggedIn" class="left menu">
    <a class="header item" routerLink="/">
      NUMERIS
    </a>
    <a class="item">
      Qui sommes nous ?
    </a>
    <a class="item">
      L'équipe
    </a>
    <a class="item">
      Podium
    </a>
    <a class="item">
      Nous contacter
    </a>
  </div>

  <a *ngIf="isLoggedIn" class="header item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> NUMERIS
  </a>

  <div class="right menu">
    <a class="header item" routerLink="/login">
      <span *ngIf="!isLoggedIn">Connexion</span>
      <span *ngIf="isLoggedIn">Déconnexion</span>
    </a>
  </div>
</div>
