<app-content [condition]="false">
  <div class="ui padded grid">
    <div class="sixteen wide column">
      <sui-accordion [closeOthers]="true">
        <!-- Accepted applications -->
        <div class="ui basic green segment">
          <sui-accordion-panel [isOpen]="true">
            <h3 class="ui basic segment" title>
              <i class="dropdown icon"></i>
              Candidatures acceptées
            </h3>

            <div content>
              <div class="ui three column padded centered grid stackable">
                <div class="column">
                  <div class="ui green fluid card">
                    <div class="content">
                      <div class="ui green ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
                <div class="column">
                  <div class="ui green fluid card">
                    <div class="content">
                      <div class="ui green ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
                <div class="column">
                  <div class="ui green fluid card">
                    <div class="content">
                      <div class="ui green ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </sui-accordion-panel>
        </div>

        <!-- Current applications -->
        <div class="ui basic blue segment">
          <sui-accordion-panel [isOpen]="false">
            <h3 class="ui basic segment" title>
              <i class="dropdown icon"></i>
              Candidatures en cours
            </h3>

            <div content>
              <div class="ui three column padded centered grid stackable">
                <div class="column">
                  <div class="ui blue fluid card">
                    <div class="content">
                      <div class="ui blue ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </sui-accordion-panel>
        </div>

        <!-- Refused applications -->
        <div class="ui basic red segment">
          <sui-accordion-panel [isOpen]="false">
            <h3 class="ui basic segment" title>
              <i class="dropdown icon"></i>
              Candidatures refusées
            </h3>

            <div content>
              <div class="ui three column padded centered grid stackable">
                <div class="column">
                  <div class="ui red fluid card">
                    <div class="content">
                      <div class="ui red ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
                <div class="column">
                  <div class="ui red fluid card">
                    <div class="content">
                      <div class="ui red ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </sui-accordion-panel>
        </div>

        <!-- History -->
        <div class="ui basic grey segment">
          <sui-accordion-panel [isOpen]="false">
            <h3 class="ui basic segment" title>
              <i class="dropdown icon"></i>
              Historique
            </h3>

            <div content>
              <div class="ui three column padded centered grid stackable">
                <div class="column">
                  <div class="ui grey fluid card">
                    <div class="content">
                      <div class="ui grey ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
                <div class="column">
                  <div class="ui grey fluid card">
                    <div class="content">
                      <div class="ui grey ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
                <div class="column">
                  <div class="ui grey fluid card">
                    <div class="content">
                      <div class="ui grey ribbon label">
                        <i class="clock icon"></i>Durée : 7h
                      </div>
                      <img class="right floated mini ui image" src="assets/logos/numeris-blue.png">
                    </div>

                    <div class="content">
                      <div class="header">
                        Reconnexion la Défense
                      </div>
                      <div class="meta">
                        <i class="building icon"></i> AS Connect
                      </div>
                      <div class="description">
                        Le 13/11/2018
                      </div>
                    </div>

                    <div class="content">
                      <div class="description">
                        Ceci est une description super utile qui va être lue par tout le monde.
                        Elle a énormément d'utilité, comme par exemple augmenter le temps de
                        création d'une mission, ce qui est assez agréable.
                      </div>
                    </div>

                    <div class="extra content">
                      <i class="map pin icon"></i>64 rue Quelquepart, 47398, La Défense
                    </div>

                    <app-button visibleContent="Postuler" hiddenIcon="handshake"
                                attachment="bottom attached" behaviour="fluid"
                                color="none" size="small">
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </sui-accordion-panel>
        </div>
      </sui-accordion>
    </div>
  </div>
</app-content>
