<app-content [condition]="!mission">
  <div *ngIf="mission && mission.project.step != 'validated'" class="ui message">
    <div class="ui header">
      Information
    </div>
    Les heures de cette mission ne peuvent pas être modifiées car le projet
    <a routerLink="/projets/{{ mission.project.id }}">{{ mission.project.name }}</a>
    n'a plus le status <b>Validé</b>.
  </div>

  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui segment">
          <div class="ui ribbon blue label">
            <i class="tag icon"></i> Convention
          </div>
          <app-convention-details *ngIf="mission"
                                  [mission]="mission"
                                  [client]="mission.project.client"
                                  [convention]="mission.project.convention"
                                  page="mission-show"></app-convention-details>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <app-bills-form *ngIf="mission" [mission]="mission"></app-bills-form>
      </div>
    </div>
  </div>
</app-content>
