.padded {
  padding: 13px;
}

.flying {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 291px;
}

.flying .content {
  margin-right: 1.5em !important;
}

.attached.indicating.progress {
  border-radius: 0 0 10px 10px;
  margin: 0 2px;
}
