<div *ngFor="let alert of alerts; let i = index">
  <div *ngIf="target === alert.target || alert.target === 'all'"
       class="padded" [ngClass]="{ 'flying': alert.target === 'main' }" [style.top.px]="position"
       [suiTransition]="alert.transitionController" #container>
    <sui-message class="{{ cssClass(alert) }} icon" (dismiss)="removeAlert(i)">
      <ng-container *ngIf="alert.title">
        <i *ngIf="cssClass(alert) === 'success'" class="smile outline loading icon"></i>
        <i *ngIf="cssClass(alert) === 'warning'" class="meh outline loading icon"></i>
        <i *ngIf="cssClass(alert) === 'error' && alert.icon" class="frown outline loading icon"></i>
      </ng-container>
      <div class="content">
        <div *ngIf="alert.title" class="header">
          {{ alert.title }}
        </div>
        <div *ngIf="alert.content">
          <span *ngIf="alert.content.length == 1; else contents">{{ alert.content }}</span>
          <ng-template #contents>
            <ul>
              <li *ngFor="let message of alert.content">{{ message }}</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </sui-message>
  </div>
</div>
