<div *ngFor="let alert of alerts">
  <div *ngIf="target === alert.target || alert.target === 'all'" class="padded" #div>
    <sui-message class="{{ cssClass(alert) }} icon" (dismiss)="div.remove()">
      <i *ngIf="alert.title" class="frown outline loading icon"></i>
      <div class="content">
        <div *ngIf="alert.title" class="header">
          {{ alert.title }}
        </div>
        <div *ngIf="alert.content">
          <span *ngIf="alert.content.length == 1; else contents">{{ alert.content }}</span>
          <ng-template #contents>
            <ul>
              <li *ngFor="let message of content">{{ message }}</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </sui-message>
  </div>
</div>
