<app-menu [sidebar]="sidebar" [isLoggedIn$]="isLoggedIn$"></app-menu>
<sui-sidebar-container class="ui attached segment">
  <sui-sidebar transition="slide along" class="vertical" #sidebar>
    <div class="header item">
      <img class="ui tiny centered image" src="assets/logos/numeris-blue.png">
    </div>

    <app-accordion [sidebar]="sidebar"></app-accordion>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <!-- Content goes here -->

    <div class="ui main fluid container">
      <alert *ngIf="isLoggedIn$"></alert>
      <router-outlet></router-outlet>
    </div>

  </sui-sidebar-sibling>
</sui-sidebar-container>
