<app-menu [sidebar]="sidebar" [isLoggedIn]="isLoggedIn"></app-menu>
<sui-sidebar-container class="ui attached segment">
  <sui-sidebar transition="overlay" class="inverted vertical" #sidebar>
    <a class="header item" routerLink="/">
      <img class="ui tiny centered image" src="assets/numeris-white.png">
    </a>

    <app-accordion [sidebar]="sidebar"></app-accordion>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <!-- Content goes here -->

    <div class="ui main container">
      <alert *ngIf="isLoggedIn"></alert>
      <router-outlet></router-outlet>

    </div>

  </sui-sidebar-sibling>
</sui-sidebar-container>
