<div class="ui  segment">
  <div class="ui blue ribbon label">
    <i class="clipboard list icon"></i>
    Détails
  </div>
  <table class="ui striped compact definition table">
    <tbody>
    <tr>
      <td class="collapsing">
        <i class="clock icon"></i>
        Heures
      </td>
      <td><b>{{ payslipAmounts.hourAmounts | number:'1.0-1': 'fr-FR' }}</b></td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="users icon"></i>
          <i class="plus corner green icon"></i>
        </i>
        Salaires brut
      </td>
      <td><b>{{ payslipAmounts.grossAmounts | number:'1.2-2': 'fr-FR' }}€</b></td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="users icon"></i>
          <i class="minus corner orange icon"></i>
        </i>
        Salaires net à verser
      </td>
      <td>{{ payslipAmounts.finalAmounts | number:'1.2-2': 'fr-FR' }}€</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="handshake icon"></i>
          <i class="money bill corner green icon"></i>
        </i>
        Cotisations Numéris
      </td>
      <td><b>{{ payslipAmounts.subscriptionFees | number:'1.0-2': 'fr-FR' }}€</b></td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="handshake icon"></i>
          <i class="minus corner orange icon"></i>
        </i>
        Cotisations sociales
      </td>
      <td>{{ payslipAmounts.deductionAmounts | number:'1.2-2': 'fr-FR' }}€</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="gavel icon"></i>
          <i class="minus corner orange icon"></i>
        </i>
        Cotisations employeur
      </td>
      <td>{{ payslipAmounts.employerDeductionAmounts | number:'1.2-2': 'fr-FR' }}€</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="building icon"></i>
          <i class="minus corner orange icon"></i>
        </i>
        Montants à payer TTC
      </td>
      <td>{{ invoiceAmounts.grossAmounts | number:'1.2-2': 'fr-FR' }}€</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="building icon"></i>
          <i class="minus corner orange icon"></i>
        </i>
        Total TVA
      </td>
      <td>{{ invoiceAmounts.vatAmounts | number:'1.2-2': 'fr-FR' }}€</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="icons">
          <i class="building icon"></i>
          <i class="plus corner green icon"></i>
        </i>
        Coût prestation HT
      </td>
      <td><b>{{ invoiceAmounts.finalAmounts | number:'1.2-2': 'fr-FR' }}€</b></td>
    </tr>
    </tbody>
  </table>
</div>
