<div [formGroup]="passwordForm">
  <div class="two fields">
    <div class="field" [ngClass]="{ 'error': submitted && f.password.errors, 'required': required }">
      <label>Mot de passe</label>
      <div class="ui left icon corner labeled input">
        <i class="lock icon"></i>
        <input type="password" formControlName="password" placeholder="Mot de passe" autocomplete="new-password" (keyup)="checkStrength()">
        <div *ngIf="required" class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <sui-progress class="attached active indicating progress" [value]="passwordStrength" [maximum]="5"></sui-progress>
      <div *ngIf="strengthMessages.length > 0 && f.password.dirty" class="ui warning message">
        Le mot de passe doit :
        <ul>
          <li *ngFor="let message of strengthMessages">{{ message }}</li>
        </ul>
      </div>
      <app-form-error *ngIf="submitted && f.password.errors" [errors]="f.password.errors"></app-form-error>
    </div>
    <div class="field" [ngClass]="{ 'required': required }">
      <label>Confirmation</label>
      <div class="ui left icon corner labeled input">
        <i class="unlock icon"></i>
        <input type="password" formControlName="password_confirmation" placeholder="Confirmation" autocomplete="new-password" (keyup)="checkMatch()">
        <div *ngIf="required" class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <sui-progress class="attached active indicating progress" [value]="passwordMatch" [maximum]="1"></sui-progress>
      <div *ngIf="f.password.dirty && f.password_confirmation.dirty && !passwordMatch" class="ui warning message">
        Le mot de passe et sa confirmation ne correspondent pas
      </div>
    </div>
  </div>
</div>
