<app-content [condition]="! (payslips && invoices)">
  <div class="ui padded grid">
    <div class="column">
      <app-accounting-statistic *ngIf="payslips && invoices" [payslips]="payslips" [invoices]="invoices"></app-accounting-statistic>
    </div>
  </div>

  <div class="ui padded grid">
    <div class="column">
      <div class="ui top pointing secondary menu">
        <a *ngFor="let year of years; let i = index" class="item" [suiTabHeader]="i.toString()"
           [isActive]="year === selectedYear" routerLink="/comptabilite/{{ year }}">
          {{ year }}
        </a>
      </div>
    </div>
  </div>

  <app-content [condition]="loading">
    <app-accounting-list *ngIf="statisticsByMonth" [statisticsByMonth]="statisticsByMonth"></app-accounting-list>

    <div class="ui padded grid">
      <div class="column">
        <app-accounting-chart *ngIf="statisticsByMonth && selectedYear" [statisticsByMonth]="statisticsByMonth" [year]="selectedYear"></app-accounting-chart>
      </div>
    </div>
  </app-content>
</app-content>
