<app-content [condition]="!paginatedProject">
  <!-- Projects -->
  <div *ngIf="paginatedProject; else empty" class="ui segments">
    <!-- Selection -->
    <div class="ui horizontal segments form grid">
      <div class="ui segment column">
        <div class="field">
          <label>Status</label>
          <div class="ui action input">
            <sui-select class="selection" label="step"
                        placeholder="Sélectionner une option"
                        [options]="options" [(ngModel)]="selectedStep"
                        (ngModelChange)="setFilter()"
                        #select>
              <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option"></sui-select-option>
            </sui-select>
            <button class="ui icon button" (click)="reset('selectedStep')">
              <i class="x icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="ui segment computer tablet only column">
        <div class="two fields">
          <div class="field">
            <label>De</label>
            <div class="ui left icon action input">
              <i class="calendar outline icon"></i>
              <input suiDatepicker pickerMode="month" placeholder="Début"
                     [(ngModel)]="from" [pickerMaxDate]="to"
                     [pickerUseNativeOnMobile]="true" (ngModelChange)="setFilter()">
              <button class="ui icon button" (click)="reset('from')">
                <i class="x icon"></i>
              </button>
            </div>
          </div>
          <div class="field">
            <label>À</label>
            <div class="ui left icon action input">
              <i class="calendar icon"></i>
              <input suiDatepicker pickerMode="month" placeholder="Fin"
                     [(ngModel)]="to" [pickerMinDate]="from"
                     [pickerUseNativeOnMobile]="true" (ngModelChange)="setFilter()">
              <button class="ui icon button" (click)="reset('to')">
                <i class="x icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="ui segment overflowing" [ngClass]="{'loading': loading}">
      <table class="ui celled striped selectable table">
        <thead>
        <tr>
          <th class="collapsing"><i class="calendar outline icon"></i> Date de début</th>
          <th class="collapsing"><i class="address book outline icon"></i> Nom</th>
          <th class="collapsing"><i class="clipboard list icon"></i> Status</th>
          <th class="collapsing"><i class="building icon"></i> Client</th>
          <th class="collapsing"><i class="copy icon"></i> Missions</th>
          <th class="collapsing"><i class="user secret icon"></i> Visibilité</th>
          <th class="collapsing"><i class="hand pointer outline icon"></i> Action</th>
        </tr>
        </thead>

        <tbody *ngIf="paginatedProject.data.length > 0; else noProject">
        <tr *ngFor="let project of paginatedProject.data" [ngClass]="{'hatched': project.step == 'closed'}"
            suiPopup popupText="Cloturé" popupPlacement="left" popupTrigger="manual" #popup="suiPopup"
            (mouseenter)="togglePopup(popup, project.step == 'closed')" (mouseleave)="togglePopup(popup, project.step == 'closed')">
          <td>{{ project.startAt | date:'dd/MM/y' }}</td>
          <td>{{ project.name }}</td>
          <td [ngClass]="(project.step != 'hiring' && project.step != 'closed') ? project.step : ''">
            {{ project.step | status }}
          </td>
          <td>
            <a routerLink="/clients/{{ project.client.id }}">{{ project.client.name }}</a>
          </td>
          <td class="center aligned">{{ project.missionsCount }}</td>
          <td class="center aligned" [ngClass]="{'warning': project.isPrivate}">
            <i class="eye icon" [ngClass]="{'slash': project.isPrivate}"></i>
          </td>
          <td class="center aligned">
            <app-link-button routerLink="/projects/{{project.id}}"
                             behaviour="compact"
                             size="tiny" color="basic"
                             hiddenIcon="zoom-in">
              Voir
            </app-link-button>
          </td>
        </tr>
        </tbody>
        <ng-template #noProject>
          <tfoot class="full-width">
          <tr>
            <th colspan="7">
              <app-empty>
                Aucun projet à afficher avec le filtre sélectionné.
              </app-empty>
            </th>
          </tr>
          </tfoot>
        </ng-template>
      </table>
    </div>

    <!-- Pagination -->
    <div class="ui center aligned segment">
      <sui-pagination [collectionSize]="paginatedProject.meta.total"
                      [pageSize]="paginatedProject.meta.per_page" [maxSize]="4"
                      [(page)]="paginatedProject.meta.current_page"
                      [hasNavigationLinks]="true" [hasBoundaryLinks]="true"
                      [hasEllipses]="false" [canRotate]="true"
                      (pageChange)="getProjectsPerPage($event)">
      </sui-pagination>
    </div>
  </div>

  <ng-template #empty>
    <app-empty>Aucun projet</app-empty>
  </ng-template>
</app-content>
