/* You can add global styles to this file, and also import other style files */

@import "assets/semantic/semantic.css";

/******************************** MAIN style ********************************/

/*
If you want to set a margin to a component template inside the
<sui-sidebar-sibling>, you should wrap all the HTML content inside
a <div> with the classes 'ui main content':

    <div class="ui main content">
      <!-- Content of the component template
    </div>

 */
.ui.main.content {
  margin: 10px;
}

/*
Padding of ul tags inside an error message segment
 */
.ui.error.message ul {
  padding-inline-start: 1em;
}

/*
Style of checkboxes labels
 */
label > span {
  color: #989898;
}

/*
Space between substring for copy/paste without space in string
 */
* > span.spaced {
  margin-right: 0.2em;
}

.ui.ribbon.label {
  z-index: 100;
}

canvas.behind {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

input.search {
  width: 100% !important;
}

.ui.slider.checkbox input:checked ~ label:before {
  background-color: #0025AA !important;
}
