<app-content [condition]="!contacts">
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui blue ribbon label">
        <i class="building icon"></i>
        <ng-container *ngIf="client; else new">
          {{ client.name }} - Modifier
        </ng-container>
        <ng-template #new>Nouveau client</ng-template>
      </div>
    </div>

    <form class="ui form segment"
          [formGroup]="clientForm" (ngSubmit)="onSubmit()"
          [ngClass]="{'error': submitted && clientForm.invalid, 'loading': loading}">
      <h4 class="ui dividing header">Informations</h4>
      <div class="two fields">
        <div class="required field" [ngClass]="{ 'error': submitted && f.name.errors }">
          <label>Nom</label>
          <div class="ui left icon corner labeled input">
            <i class="address book outline icon"></i>
            <input type="text" formControlName="name" placeholder="Nom">
            <div class="ui corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <app-form-error *ngIf="submitted && f.name.errors" [errors]="f.name.errors"></app-form-error>
        </div>
        <div class="field" [ngClass]="{ 'error': submitted && f.contact_id.errors }">
          <label>Contact</label>
          <div class="ui input">
            <sui-select *ngIf="contacts" class="selection fluid" labelField="lastName" valueField="id"
                        placeholder="Sélectionner une option" formControlName="contact_id"
                        [options]="contacts" [optionFormatter]="fullName" [isDisabled]="!contacts.length > 0"
                        #contactSelect>
              <sui-select-option *ngFor="let option of contactSelect.filteredOptions" [value]="option"></sui-select-option>
            </sui-select>
          </div>
          <app-form-error *ngIf="submitted && f.contact_id.errors" [errors]="f.contact_id.errors"></app-form-error>
        </div>
      </div>

      <h4 class="ui dividing header">Adresse</h4>
      <app-address-form [submitted]="submitted" [address]="this.client ? this.client.address : null"
                        (formReady)="addAddressForm($event)" ></app-address-form>

      <div class="field">
        <div *ngIf="!client; else edit" class="ui buttons">
          <a class="ui animated fade button" routerLink="/clients">
            <div class="visible content">Annuler</div>
            <div class="hidden content">
              <i class="cancel icon"></i>
            </div>
          </a>
          <div class="or" data-text="ou"></div>
          <button class="ui animated fade positive button"
                  [ngClass]="{'loading': loading, 'disabled': clientForm.invalid}">
            <div class="visible content">Ajouter</div>
            <div class="hidden content">
              <i class="plus icon"></i>
            </div>
          </button>
        </div>

        <ng-template #edit>
          <div class="ui buttons">
            <a class="ui animated fade button" routerLink="/clients/{{ client.id }}">
              <div class="visible content">Annuler</div>
              <div class="hidden content">
                <i class="cancel icon"></i>
              </div>
            </a>
            <div class="or" data-text="ou"></div>
            <button class="ui animated fade orange button"
                    [ngClass]="{'loading': loading, 'disabled': clientForm.invalid}">
              <div class="visible content">Modifier</div>
              <div class="hidden content">
                <i class="plus icon"></i>
              </div>
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>

</app-content>
