<div class="ui segment">
  <div class="ui small breadcrumb">
    <a class="section" routerLink="/tableau-de-bord">
      <i class="home icon"></i>
    </a>

    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <i class="right angle icon divider"></i>
      <a *ngIf="breadcrumb && i < breadcrumbs.length - 1"
         class="active section" routerLink="{{ breadcrumb.url }}">
        {{ breadcrumb.title }}
      </a>
      <span *ngIf="breadcrumb && i == breadcrumbs.length - 1"
           class="active section">
        {{ breadcrumb.title }}
      </span>
    </ng-container>
  </div>
</div>

