<div class="ui fluid card">
  <div class="center aligned content">
    <div class="header">{{ user.firstName }} {{ user.lastName | uppercase }}</div>
    <div class="meta">
      <a>Dévelopeur</a><!-- TODO: adminland -->
    </div>
  </div>
  <div class="image">
    <img src="assets/logos/numeris-blue.png">
  </div>
  <div class="content">
    <i class="phone icon"></i> 06 63 67 06 80
  </div>
  <div class="content">
    <i class="mail envelope icon"></i> eliottdes@gmail.com
  </div>
  <div class="content">
    <i class="map pin icon"></i> 69 rue Balard, 75015 Paris
  </div>
  <div class="center aligned extra content">
    Membre depuis le 29/06/1995
  </div>
</div>
