<div class="ui fluid card">
  <div class="center aligned content">
    <div class="header">{{ user.firstName | titlecase }} {{ user.lastName | uppercase }}</div>
    <a class="meta" *ngIf="currentUserRole != 'student'" (click)="openModal()">
      <i class="settings small icon"></i> {{ user.roles[0] | role }}
    </a>
  </div>
  <div class="image">
    <img src="assets/logos/numeris-blue.png" alt="Logo de Numéris">
  </div>
  <div class="left aligned content">
    <div class="description">
      <p *ngIf="user.phone">
        <i class="phone icon"></i>
        <a href="tel:{{ user.phone }}" target="_blank"> {{ user.phone | phone }}</a>
      </p>
      <p>
        <i class="mail envelope icon"></i>
        <a href="mailto:{{ user.email }}" target="_blank"> {{ user.email }}</a>&nbsp;<app-verified-email [emailVerifiedAt]="user.emailVerifiedAt"></app-verified-email>
      </p>
      <p>
        <i class="history icon"></i> Membre depuis le {{ user.createdAt | dateToISO | date:"dd/MM/yyyy" }}
      </p>
    </div>
  </div>

  <div class="extra content">
    <i class="map marker alternate icon"></i> {{ user.address | address }}
  </div>
</div>
