<div class="ui fluid card">
  <div class="center aligned content">
    <div class="header">{{ user.firstName | titlecase }} {{ user.lastName | uppercase }}</div>
    <div class="meta" *ngIf="currentUserRole != 'student'">
      <a routerLink="">{{ user.roles[0] | role }}</a>
    </div>
  </div>
  <div class="image">
    <img src="assets/logos/numeris-blue.png" alt="Logo de Numéris">
  </div>
  <div class="content">
    <div class="description">
      <p>
        <i class="phone icon"></i>
        <a href="tel:{{ user.phone }}" target="_blank"> {{ user.phone | phone }}</a>
      </p>
      <p>
        <i class="mail envelope icon"></i>
        <a href="mailto:{{ user.email }}" target="_blank"> {{ user.email }}</a>
      </p>
      <p>
        <i class="history icon"></i> Membre depuis le {{ user.createdAt | date:"dd/MM/yyyy" }}
      </p>
    </div>
  </div>

  <div class="extra content">
    <i class="map marker alternate icon"></i> {{ user.address | address }}
  </div>

  <div class="ui small bottom attached buttons">
    <div class="ui animated fade orange button">
      <div class="visible content">Modifier</div>
      <div class="hidden content">
        <i class="edit icon"></i>
      </div>
    </div>
    <div class="or" data-text="ou"></div>
    <div class="ui animated fade negative button">
      <div class="visible content">Supprimer</div>
      <div class="hidden content">
        <i class="trash alternate icon"></i>
      </div>
    </div>
  </div>
</div>
