<app-menu [sidebar]="sidebar" [isLoggedIn$]="isLoggedIn$"></app-menu>
<sui-sidebar-container class="ui attached segment no-border">
  <sui-sidebar transition="slide along" class="vertical no-border" #sidebar>
    <div *ngIf="isLoggedIn$; else guest">
      <div class="header item">
        <img class="ui tiny centered image" src="assets/logos/numeris-blue.png">
      </div>
      <app-accordion [sidebar]="sidebar"></app-accordion>
    </div>

    <ng-template #guest>
      <a class="item">
        Hello World!
      </a>
    </ng-template>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true" class="no-border">
    <!-- Content goes here -->

    <alert *ngIf="isLoggedIn$"></alert>
    <router-outlet></router-outlet>


  </sui-sidebar-sibling>
</sui-sidebar-container>
