<!-- Top -->
<div class="ui vertical primary masthead center aligned segment" #top>
  <div class="ui text container">
    <img class="ui centered massive fluid image" alt="Logo de Numéris"
         src="assets/logos/numeris-white{{ isWinter ? '-winter' : '' }}.png">
    <h2 class="ui white inverted header">Le job service de l'ISEP</h2>
    <button class="circular ui primary large icon button scroll-down" (click)="scrollToElement('aboutUs')">
      <i class="icon arrow down"></i>
    </button>
  </div>
  <canvas class="behind" #snowCanvas></canvas>
</div>

<!-- About us -->
<div class="ui vertical stripe segment" #aboutUs>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Pour les isépiens</h3>
        <p>
          Numéris permet aux isépiens d'obtenir un complément de revenu en
          leur proposant des <strong>missions ponctuelles</strong> en intérim.
        </p>
        <p>
          Avec un <strong>salaire attractif</strong> à la clé et une
          <strong>grande diversité</strong> de missions, l'étudiant peut
          facilement <strong>arrondir ses fins de mois</strong> tout en
          <strong>montant en compétences</strong>.
        </p>
        <h3 class="ui header">Pour les entreprises</h3>
        <p>
          Numéris permet aux enteprises d'<strong>obtenir rapidement de la
          main-d'oeuvre</strong> qualifiée pour répondre à toute demande.
        </p>
      </div>
      <div class="seven wide right floated column">
        <a href="#" class="ui huge rounded bordered clickable image" (click)="openModal(previewModal)">
          <img src="assets/images/team/2019-2020/team.png" alt="Équipe 2018/2019">
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Desk background -->
<div class="desk-background">
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <i class="huge blue users icon"></i>
          <h3>Des étudiants motivés</h3>
          <p>
            Plus de 1200 étudiants potentiellement disponibles.
          </p>
        </div>
        <div class="column">
          <i class="huge blue tasks icon"></i>
          <h3>polyvalents</h3>
          <p>
            Grâce à leurs formation pluridisciplinaire, ils peuvent intervenir
            sur des tâches variées.
          </p>
        </div>
        <div class="column">
          <i class="huge blue globe icon"></i>
          <h3>et au rayon d'action très large</h3>
          <p>
            Les isépiens peuvent se déplacer dans toute la France.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Team -->
<div #team>
  <div class="ui container">
    <div class="ui vertical stripe segment">
      <div class="ui basic center aligned segment">
        <h1>L'équipe 2019/2020</h1>
      </div>

      <app-team></app-team>
    </div>
  </div>
</div>


<!-- ISEP buildings -->
<div class="ui inverted vertical building segment">
  <div class="ui equal width stackable grid">
    <div class="center aligned row">
      <div class="column">
        <img class="ui rounded image" src="assets/images/home/isep-building-ndc.jpg" alt="Bâtiment ISEP NDC">
      </div>
      <div class="column">
        <img class="ui rounded image" src="assets/images/home/isep-building-ndl.jpg" alt="Bâtiment ISEP NDL">
      </div>
    </div>
  </div>
</div>


<!-- Podium -->
<div class="ui vertical stripe segment" #podium>
  <app-podium page="home"></app-podium>
</div>


<!-- Keyboard background-->
<div class="keyboard-background"></div>


<!-- Contact us -->
<button class="ui blue massive fluid vertical animated button"
   #contactUs (click)="openModal(contactUsModal)">
  <div class="visible content position">Nous contacter</div>
  <div class="hidden content position">
    <i class="large envelope icon"></i>
  </div>
</button>


<!-- Footer -->
<app-footer></app-footer>
