.masthead.segment {
  min-height: 700px;
  padding-top: 42.84px;
  background: #0025AA linear-gradient(#0025AA, #0026E5);
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.scroll-down {
  position: relative;
  animation-name: vertical-shake;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes vertical-shake {
  from { top: 0 }
  to { top: 20px }
}

.scroll-down:hover {
  animation-play-state: paused;
}

.ui.vertical.stripe {
  padding: 3.5em 0;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.vertical.stripe.quote.segment {
  padding: 0;
  position: relative;
  top: 200px;
}
.quote.stripe.segment .grid .column {
  padding: 5em 1em 5em 1em;
}
.ui.vertical.stripe.quote.segment .column {
  background-color: rgba(255, 255, 255, 0.95);
}
.ui.vertical.stripe.quote.segment .column:nth-child(1) {
  animation: background-change 1.5s 1s infinite alternate ease-in-out;
}
.ui.vertical.stripe.quote.segment .column:nth-child(2)  {
  animation: background-change 1.5s 1.5s infinite alternate ease-in-out;
}
.ui.vertical.stripe.quote.segment .column:nth-child(3)  {
  animation: background-change 1.5s 2s infinite alternate ease-in-out;
}
@keyframes background-change {
  50% { background-color: rgba(255, 255, 255, 0.95) }
  100% { background-color: rgba(235, 235, 235, 0.95) }
}

.desk-background {
  min-height: 750px;
  background: url('../../../../assets/images/home/desk.jpg');
}

.building.segment {
  padding: 2em;
  background: black linear-gradient(#474749, black);
}
.isep-building-background {
  min-height: 80vh;
  background: url('../../../../assets/images/home/isep-building-ndl.jpg');
}

.blurred {
  transition-duration: 0.3s;
}

.blurred:hover {
  transition-duration: 0.3s;
  filter: blur(1px);
}

.keyboard-background {
  min-height: 500px;
  position: relative;
  top: -100px;
  z-index: -1;
  background: url('../../../../assets/images/home/keyboard.jpg') fixed;
}

.ui.blue.massive.fluid.button {
  border-radius: 0;
  position: relative;
  bottom: 50px;
  height: 200px;
}
.visible.content.position {
  padding-top: 72px;
}


@media only screen and (max-width: 767px) {
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .ui.vertical.stripe {
    padding: 2em 0;
  }

  .ui.vertical.stripe.quote.segment {
    position: unset;
    border-bottom: 1px solid #DEDFDF;
  }
  .desk-background {
    background: none;
  }
}
