.ui.grid>.row>.ui.segment.column,
.ui.grid>.ui.segment.column,
.ui.page.grid.segment {
  padding-top: 1rem;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .ui.grid>.row>.ui.segment.column,
  .ui.grid>.ui.segment.column,
  .ui.page.grid.segment {
    padding-bottom: 1rem;
  }
}

.ui.action.input .ui.selection.dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.search.input .prompt {
  max-width: 196px;
}

table.selectable tr.hatched:hover {
  background: repeating-linear-gradient(
    135deg,
    #F4F4F4,
    #F4F4F4 10px,
    #EAEAEA 10px,
    #EAEAEA 20px
  ) !important;
}

table.selectable tr:hover td.validated {
  background-color: #eefafd !important;
}

table.selectable tr:hover td.billed {
  background-color: #FFF4E4 !important;
}

table.selectable tr:hover td.paid {
  background-color: #F7FFE6 !important;
}
