<div [formGroup]="userForm">
  <div class="two fields">
    <div class="required field" [ngClass]="{ 'error': submitted && f.first_name.errors }">
      <label>Prénom</label>
      <div class="ui left icon corner labeled input">
        <i class="address book outline icon"></i>
        <input type="text" formControlName="first_name" placeholder="Prénom">
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.first_name.errors" [errors]="f.first_name.errors"></app-form-error>
    </div>
    <div class="required field" [ngClass]="{ 'error': submitted && f.last_name.errors }">
      <label>Nom</label>
      <div class="ui left icon corner labeled input">
        <i class="clipboard outline icon"></i>
        <input type="text" formControlName="last_name" placeholder="Nom">
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.last_name.errors" [errors]="f.last_name.errors"></app-form-error>
    </div>
  </div>

  <div class="three fields">
    <div class="required field" [ngClass]="{ 'error': submitted && f.email.errors }">
      <label>Adresse email ISEP</label>
      <div class="ui left icon corner right labeled input">
        <i class="envelope icon"></i>
        <input type="text" formControlName="email" placeholder="Email"
               suiPopup popupPlacement="top left" popupHeader="Adresse email ISEP"
               popupText="prenom.nom@isep.fr" popupTrigger="focus" (keyup.@)="suffix()">
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.email.errors" [errors]="f.email.errors"></app-form-error>
    </div>
    <div class="required field" [ngClass]="{ 'error': submitted && f.promotion.errors }">
      <label>Promotion</label>
      <sui-select class="fluid selection" label="promotion"
                  placeholder="Sélectionner une option"
                  [options]="promotions" formControlName="promotion" suiPopup
                  popupHeader="Promotion" popupPlacement="top left" popupTrigger="focus"
                  popupText="Année d'obtention du diplôme ISEP"
                  #selectPromotion>
        <sui-select-option *ngFor="let option of selectPromotion.filteredOptions"
                           [value]="option"></sui-select-option>
      </sui-select>
      <app-form-error *ngIf="submitted && f.promotion.errors" [errors]="f.promotion.errors"></app-form-error>
    </div>
    <div class="required field" [ngClass]="{ 'error': submitted && f.birth_date.errors }">
      <label>Date de naissance</label>
      <div class="ui left icon corner labeled input">
        <i class="calendar alternate icon"></i>
        <input suiDatepicker pickerMode="date" placeholder="Date de naissance"
               formControlName="birth_date" [pickerUseNativeOnMobile]="true">
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <app-form-error *ngIf="submitted && f.birth_date.errors" [errors]="f.birth_date.errors"></app-form-error>
    </div>
  </div>
</div>
