<div class="ui segments">
  <div class="ui segment">
    <div class="ui blue ribbon label">
      <i class="user md icon"></i>
      <ng-container *ngIf="contact; else new">
        {{ contact.firstName }} {{ contact.lastName | uppercase }} - Modifier
      </ng-container>
      <ng-template #new>Nouveau contact client</ng-template>
    </div>
  </div>

  <form class="ui form segment"
        [formGroup]="contactForm" (ngSubmit)="onSubmit()"
        [ngClass]="{'error': submitted && contactForm.invalid, 'loading': loading}">
    <h4 class="ui dividing header">Informations</h4>
    <div class="two fields">
      <div class="required field" [ngClass]="{ 'error': submitted && f.first_name.errors }">
        <label>Prénom</label>
        <div class="ui left icon corner labeled input">
          <i class="address book outline icon"></i>
          <input type="text" formControlName="first_name" placeholder="Prénom">
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <app-form-error *ngIf="submitted && f.first_name.errors" [errors]="f.first_name.errors"></app-form-error>
      </div>
      <div class="required field" [ngClass]="{ 'error': submitted && f.last_name.errors }">
        <label>Nom</label>
        <div class="ui left icon corner labeled input">
          <i class="address book icon"></i>
          <input type="text" formControlName="last_name" placeholder="Nom">
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <app-form-error *ngIf="submitted && f.last_name.errors" [errors]="f.last_name.errors"></app-form-error>
      </div>
    </div>

    <div class="two fields">
      <div class="field" [ngClass]="{ 'error': submitted && f.email.errors }">
        <label>Email</label>
        <div class="ui left icon input">
          <i class="envelope icon"></i>
          <input type="text" formControlName="email" placeholder="Email">
        </div>
        <app-form-error *ngIf="submitted && f.email.errors" [errors]="f.email.errors"></app-form-error>
      </div>
      <div class="field" [ngClass]="{ 'error': submitted && f.phone.errors }">
        <label>Téléphone</label>
        <div class="ui left icon input">
          <i class="phone icon"></i>
          <input type="text" formControlName="phone" placeholder="Téléphone"
                 [value]="f.phone.value | phone">
        </div>
        <app-form-error *ngIf="submitted && f.phone.errors" [errors]="f.phone.errors"></app-form-error>
      </div>
    </div>

    <div class="field">
      <div *ngIf="!contact; else edit" class="ui buttons">
        <a class="ui animated fade button" routerLink="/contacts">
          <div class="visible content">Annuler</div>
          <div class="hidden content">
            <i class="cancel icon"></i>
          </div>
        </a>
        <div class="or" data-text="ou"></div>
        <button class="ui animated fade positive button"
                [ngClass]="{'loading': loading, 'disabled': contactForm.invalid}">
          <div class="visible content">Ajouter</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </button>
      </div>

      <ng-template #edit>
        <div class="ui buttons">
          <a class="ui animated fade button" routerLink="/contacts">
            <div class="visible content">Annuler</div>
            <div class="hidden content">
              <i class="cancel icon"></i>
            </div>
          </a>
          <div class="or" data-text="ou"></div>
          <button class="ui animated fade orange button"
                  [ngClass]="{'loading': loading, 'disabled': contactForm.invalid}">
            <div class="visible content">Modifier</div>
            <div class="hidden content">
              <i class="plus icon"></i>
            </div>
          </button>
        </div>
      </ng-template>
    </div>
  </form>
</div>

