<app-content [condition]="!applicationStatuses">
  <div *ngIf="mission.project.step != 'hiring'" class="ui message">
    <div class="ui header">
      Information
    </div>
    Les candidatures de cette mission ne peuvent pas être modifiées car le projet
    <a routerLink="/projets/{{ mission.project.id }}">{{ mission.project.name }}</a>
    n'a plus le status <b>Ouvert</b>.
  </div>

  <div *ngIf="applicationStatuses" class="ui centered grid doubling">
    <div class="row">
      <div class="ten wide column">
        <app-application-list [statuses]="applicationStatuses" [status]="acceptedStatus" [mission]="mission"></app-application-list>
      </div>
    </div>

    <div class="stretched row">
      <div class="sixteen wide mobile eight wide computer column">
        <app-application-list [statuses]="applicationStatuses" [status]="waitingStatus" [mission]="mission"></app-application-list>
      </div>
      <div class="sixteen wide mobile eight wide computer column">
        <app-application-list [statuses]="applicationStatuses" [status]="refusedStatus" [mission]="mission"></app-application-list>
      </div>
    </div>
  </div>
</app-content>
