<app-content [condition]="!applications">
  <div *ngIf="applications && applicationStatuses" class="ui grid doubling">
    <div class="row">
      <div class="sixteen wide column">
        <app-application-list [applications]="acceptedApplications" [statuses]="applicationStatuses" [status]="acceptedStatus"></app-application-list>
      </div>
    </div>

    <div class="stretched row">
      <div class="sixteen wide mobile eight wide computer column">
        <app-application-list [applications]="waitingApplications" [statuses]="applicationStatuses" [status]="waitingStatus"></app-application-list>
      </div>
      <div class="sixteen wide mobile eight wide computer column">
        <app-application-list [applications]="refusedApplications" [statuses]="applicationStatuses" [status]="refusedStatus"></app-application-list>
      </div>
    </div>
  </div>
</app-content>
