* {
    font-family: -apple-system, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.logo {
    width: 100px;
    float: right;
    position: fixed;
}

.segment {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
}
.segments > .segment:first-child {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.segments > .segment:last-child {
    margin-top: 0;
    margin-bottom: 1em;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
    font-size: 18px;
}

h2 {
    margin: 0;
}

.header {
    margin-bottom: 2px !important;
}

.sub.header {
    color: rgba(0, 0, 0, 0.4);
}

.information {
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.6);
}

.text {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6);
}

.block {
    display: inline-block;
    vertical-align: top;
}

.half {
    width: 49.75%;
}
.third {
    width: 33%;
}
.quarter {
    width: 25%;
}

.left-aligned {
    text-align: left;
}
.center-aligned {
    text-align: center;
}
.middle-aligned {
    vertical-align: center;
}
.right-aligned {
    text-align: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img.mini-tall {
    width: 50px;
    height: auto;
}

td.hightlight {
    background: rgb(249, 250, 251);
    font-weight: 700;
}